.vil-error {
  &__content {
    text-align: center;
    color: $brand-primary;
  }
  &__button {
    justify-content: center;
    display: flex;
  }
  &__title {
    font-weight: 600;
  }
  &__description {
    @extend %h6;
    font-weight: 400;
  }
}