.vil-about-program {
    $a: &;

    padding: 0 0 48px;

    //@media (max-width: 767px) {
    //    padding: 8px 0 0;
    //}

    &.faculty-padding {
        margin-bottom: 80px;
        @media (max-width: 991px) {
            margin-bottom: 48px;
        }

        .single-courses & {
            @media(max-width: 768px) {
                padding-top: 20px;
                padding-bottom: 40px !important;
            }
        }
    }
    &__content {
        &.content_bottom {
            padding-bottom: 40px;
            border-bottom: 1px solid $white-grey-color;

            @media (max-width: 991px) {
                padding-top: 32px;
            }
        }

        h1, h2, h3, h4, h5, h6 {
            font-weight: 600;
            margin: 0 0 16px;
        }

        h2 {
            @extend %h2;
        }

        h4 {
            font-size: 22px;
            line-height: 28px;
            font-family: $font-family-montserrat;
            letter-spacing: 0.02em;
        }

        p {
            @extend %text-16;
            letter-spacing: 0.02em;
            margin: 0 0 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        li {
            @extend %text-16;
            letter-spacing: 0.02em;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &#expert-faculty {
        padding-bottom: 0;
    }

    &#text {
        #{$a}__text {
            margin: 0;
        }

        #{$a}__content {
            padding-bottom: 40px;
            border-bottom: 1px solid $white-grey-color;
            
            h2 {
                font-weight: 600;
                font-size: 22px;
                line-height: 28px;
                font-family: $font-family-montserrat;
                letter-spacing: 0.02em;
                margin: 0 0 16px;
            }
        }
    }

    &__text {
        margin: 0 0 32px;

        p {
            @extend %text-16;
            letter-spacing: 0.02em;
            margin: 0 0 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}


.vil-expert {
    margin-bottom: 40px;

    &__wrap {
        padding: 32px;
        background: rgba(163, 145, 97, 0.1);
        border: 1px solid rgba(163, 145, 97, 0.5);
        border-radius: 6px;
        align-items: center;
        @media (max-width: 991px) {
            align-items: flex-start;
            padding: 32px 24px;
        }
        @media (max-width: 767px) {
            flex-direction: column;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
        }
        @media (max-width: 400px) {
            padding: 32px 16px;
        }
    }

    &__photo {
        width: 144px;
        height: 144px;
        border: 3px solid $brand-primary;
        border-radius: 50%;
        overflow: hidden;
        flex-shrink: 0;
        margin-right: 32px;
        @media (max-width: 991px) {
            margin-right: 24px;
        }
        @media (max-width: 767px) {
            margin: 0 auto 16px;
        }
        @media (max-width: 575px) {
            width: 120px;
            height: 120px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        flex-grow: 1;
        @media (max-width: 767px) {
            text-align: center;
        }
    }

    &__head {
        align-items: center;
        justify-content: space-between;
        margin: 0 0 16px;
        @media (max-width: 767px) {
            flex-direction: column;
            row-gap: 16px;
        }
    }

    &__soc {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0 0 0 12px;
        @media (max-width: 767px) {
            margin: 0;
            order: -1;
            // display: none;
        }

        &>li {
            flex-shrink: 0;
            margin-right: 8px;
            &:last-child {
                margin-right: 0;
            }
            &>a {
                display: block;
                width: 24px;
                height: 24px;
                transition: all 0.4s;

                &:hover {
                    transform: scale(0.9);
                }

                svg {
                    vertical-align: top;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    &__title {
        @extend %text-22;
        line-height: 28px;
        letter-spacing: 0.02em;
        font-weight: 600;
        font-family: $font-family-montserrat;
        margin: 0;
        @media (max-width: 767px) {
            width: 100%;
            text-align: center;
            font-size: 20px;
        }
    }

    &__text {
        margin: 0 0 16px;

        p {
            @extend %text-16;
            letter-spacing: 0.02em;
            margin: 0 0 8px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__link {
        @extend %text-16;
        font-weight: 600;
        text-decoration: none;
        transition: all 0.4s;
        color: $primary-text-color;
        letter-spacing: 0.02em;
        @media (max-width: 767px) {
            font-size: 14px;
        }

        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            color: $brand-secondary;
        }
    }
}
.single-courses {
    .vil-about-program {
        //margin-bottom: 0;
        //padding-bottom: 0;
    }
}
