.vil-curriculum {
    &__title {
        @extend %text-18;
        font-weight: 400;
        font-family: $font-family-mulish;
        color: $dark-grey;
        margin: 0 0 24px;
        @media (max-width: 575px) {
            font-size: 16px;
        }
    }

    &__wrap {
        position: relative;
        padding-bottom: 32px;
        .swiper-wrapper {
            display: flex;
            align-items: stretch;
        }

        .swiper-slide {
            width: 474px;
            height: auto;
            @media (max-width: 991px) {
                width: 420px;
            }
            @media (max-width: 767px) {
                width: 100%;
            }

            .vil-curriculum__item {
                height: 100%;
            }
        }

        .swiper-scrollbar {
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }

    &__item {
        background: $white-color;
        border: 1px solid $white-grey-color;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
        border-radius: 6px;
        padding: 32px;
        @media (max-width: 991px) {
            padding: 32px 24px;
        }
        @media (max-width: 575px) {
            padding: 24px;
        }
        @media (max-width: 400px) {
            padding: 24px 16px;
        }

        &-week {
            display: block;
            background: $green-color2;
            border-radius: 200px;
            font-weight: 700;
            font-size: 12px;
            color: $white-color;
            line-height: 16px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            padding: 4px 12px;
            margin: 0 0 16px;
            width: fit-content;
        }

        &-content {
            h5 {
                font-size: 18px !important;
                font-weight: 700 !important;
                font-family: $font-family-mulish;
                margin: 0 0 12px;
                color: $primary-text-color !important;
                @media (max-width: 575px) {
                    font-size: 16px !important;
                }
            }

            p {
                @extend %text-16;
                color: $dark-grey;
                margin: 0 0 12px;
                &:last-child {
                    margin-bottom: 0;
                }
                @media (max-width: 575px) {
                    font-size: 14px;
                    line-height: 22px;
                }
            }

            ul {
                margin: 0 0 12px;
                padding: 0 0 0 25px;
                &:last-child {
                    margin-bottom: 0;
                }

                & > li {
                    @extend %text-16;
                    margin: 0 0 6px;
                    color: $dark-grey;
                    @media (max-width: 575px) {
                        font-size: 14px;
                        line-height: 22px;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.vil-program-swiper {
    .swiper-wrapper {
        display: flex;
        align-items: stretch;
    }

    .swiper-slide {
        width: 572px;
        height: auto;
        @media (max-width: 991px) {
            width: 100%;
        }

        .vil-curriculum__item {
            height: 100%;
        }
    }
}
