.vil-achievements {
    padding-bottom: 25px;
    &__wrap {
        position: relative;
    }

    &__slide {
        display: flex;
        align-items: center;
        padding: 48px 124px;
        height: 100%;
        // background-color: $brand-primary;
        // border-radius: 12px;
        @media (max-width: 1260px) {
            padding: 48px;
        }
        @media (max-width: 991px) {
            padding: 48px 24px;
        }
        @media (max-width: 767px) {
            flex-direction: column-reverse;
            padding: 48px 24px 86px;
        }

        &-content {
            flex-grow: 1;
            text-align: center;
            padding-bottom: 40px;
            @media (max-width: 767px) {
                width: 100%;
                padding-bottom: 0;
            }
        }

        &-title {
            @extend %h4;
            font-weight: 600;
            color: $brand-secondary;
            margin: 0 0 40px;
            @media (max-width: 991px) {
                margin: 0 0 24px;
            }
            @media (max-width: 767px) {
                font-size: 18px;
                line-height: 26px;
            }
        }

        &-value {
            font-family: $font-family-montserrat;
            font-weight: 400;
            font-size: 64px;
            color: $orange-color;
            line-height: 1;
            margin: 0 0 32px;
            @media (max-width: 991px) {
                font-size: 56px;
                line-height: 42px;
                margin: 0 0 24px;
            }
            @media (max-width: 767px) {
                font-size: 48px;
                line-height: 36px;
                margin: 0 0 16px;
            }
        }

        &-text {
            p {
                @extend %text-18;
                color: $white-color;
                margin: 0 0 10px;
                @media (max-width: 767px) {
                    font-size: 15px;
                    line-height: 24px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &-image {
            flex-shrink: 0;
            width: 281px;
            margin-left: 10px;
            @media (max-width: 991px) {
                width: 261px;
            }
            @media (max-width: 767px) {
                width: 210px;
                margin: 0 auto 24px;
            }

            img {
                width: 100%;
            }
        }
    }

    .swiper {
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $brand-primary;
            border-radius: 12px;
        }

        &-slide {
            height: auto;
        }

        &-achievements-pagination {
            position: absolute;
            bottom: 55px;
            left: 0;
            right: 290px;
            margin: auto;
            z-index: 10;

            &--center {
                bottom: 50px;
                right: auto;
                left: 50%;
                transform: translateX(-50%);
            }

            @media (max-width: 1260px) {
                bottom: 50px;
            }
            @media (max-width: 991px) {
                right: 270px;
            }
            @media (max-width: 767px) {
                right: 0;
                bottom: 48px;
            }
        }
    }
}
