.vil-advantages {
    padding: 80px 0;

    + .vil-about-program#content {
        padding-bottom: 0;
    }

    &.text-right {
        .media-col {
            order: 2;
            .vil-advantages__image {
                margin-right: auto;
            }
        }
        .text-col {
            text-align: left;
        }
    }

    @media (max-width: 767px) {
        padding: 48px 0;
    }

    &__wrap {
        align-items: center;

        @media (max-width: 991px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__image {
        width: 400px;
        flex-shrink: 0;
        margin-left: 20px;
        margin-right: 80px;
        position: relative;
        @media (max-width: 1260px) {
            margin-right: 30px;
            width: 380px;
        }
        @media (max-width: 991px) {
            margin: 0 auto 40px;
            width: 100%;
            max-width: 600px;
        }
        @media (max-width: 767px) {
            width: calc(100% - 15px);
            margin-right: auto;
        }

        img {
            width: 100%;
            position: relative;
            z-index: 2;
            border-radius: 6px;
            @media (max-width: 991px) {
                max-height: 445px;
            }
        }

        &:after {
            content: '';
            width: calc(100% - 20px);
            height: calc(100% - 20px);
            display: block;
            background: $green-color;
            border-radius: 6px;
            position: absolute;
            z-index: -1;
            bottom: -14px;
            left: -18px;
            @media (max-width: 767px) {
                left: -15px;
                bottom: -12px;
                width: calc(100% - 16px);
                height: calc(100% - 16px);
            }
        }
    }

    &__content {
        flex-grow: 1;
    }

    &__title {
        @extend %h2;
        font-weight: 600;
        margin: 0 0 24px;
    }

    &__text {
        margin: 0 0 32px;
        @media (max-width: 991px) {
            margin: 0 0 24px;
        }

        p {
            @extend %text-16;
            letter-spacing: 0.02em;
            margin: 0 0 16px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        ul {
            padding: 0 0 0 24px;
            margin: 0 0 16px;

            &:last-child {
                margin-bottom: 0;
            }

            & > li {
                @extend %text-16;
                letter-spacing: 0.02em;
                margin: 0 0 6px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__btns {
        align-items: center;

        @media (max-width: 575px) {
            flex-direction: column;
            align-items: flex-start;
        }

        .vil-btn {
            margin-right: 16px;

            @media (max-width: 575px) {
                margin-right: 0;
                margin-bottom: 16px;
            }

            &_primary {
                &:hover,
                &:focus,
                &:active {
                    background-color: $brand-secondary;
                    border-color: $brand-secondary;
                    color: $white-color;
                }
            }

            &:last-child {
                margin-right: 0;

                @media (max-width: 575px) {
                    margin-bottom: 0;
                }
            }
        }
    }
}


