.vil-articles { 
  background-color: $brand-primary;
  color: $white-color;
  padding: 88px 0;
  @media (max-width: 991px) {
    padding: 56px 0;
  }
  &__title {
    font-weight: 600;

  }
  &__btn-mobile {
    margin: auto;
    @media (min-width: 575px) {
      display: none;
    }
  }
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    @media (max-width: 575px) {
      text-align: center;
      margin-bottom: 30px;
    }
    a {
      @media (max-width: 767px) {
        font-size: 16px;
      }
      @media (max-width: 575px) {
        display: none;
      }
    }
  }
  &__card {
    max-width: 365px;
    margin: auto;
    @media (max-width: 575px) {
      max-width: initial;
    }
    &-clock {
      width: 14px;
      height: 14px;
    }
    &-wrap {
      display: flex;
      align-items: center;
      @media (max-width: 991px) and (min-width: 575px) {
        display: block;
      }
    }
    &-image {
      height: 209px;
      @media (max-width: 991px) and (min-width: 575px) {
        height: 160px;
      }
      img {
        height: inherit;
        width: -webkit-fill-available;
        object-fit: cover;
        border-radius: 3px;
      }
    }
    @media (max-width: 767px) {
      margin: 0 0 15px 0;
    }
    @media (max-width: 575px) {
      margin: 0 0 32px 0;
    }
    &-title {
      @extend %text-18;
      margin: auto;
      color: $white-color;
      transition: .2s;
      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
        transition: .2s;
        cursor: pointer;
      }
      @media (max-width: 991px) {
        font-size: 16px;
      }
    }
    &-info {
      display: flex;
      margin: 16px 0 8px;
      font-size: 12px;
      font-family: $font-family-montserrat;
    }
    &-category {
      color: $white-color;
      padding: 4px 8px;
      border-radius: 3px;
      background-color: $background-primary;
      align-self: center;
      margin-right: 8px;
      transition: .2s;
      &:hover {
        color: $white-color;
      }
    }
    &-time-read {
      margin: auto;
    }
    &-clock {
      margin: 0 4px 0 0;
    }
  }
}