.wp-block-columns {
    .col-lg-10,
    .col-xl-10 {
        flex: 0 0 100%;
        max-width: 100%;
    }

     .container {
         padding-left: 0;
         padding-right: 0;
     }

    .vil-block {
        padding: 0;
        margin: 0 0 20px;
    }

    .vil-reviews {
        .swiper-reviews-prev,
        .swiper-reviews-next {
            @media (max-width: 1199px) {
                top: calc(100% + 25px);
            }

            @media (min-width: 1200px) and (max-width: 1299px) {
                width: 50px;
                height: 50px;
            }
        }

        .swiper-reviews-prev {
            left: 80px;

            @media (min-width: 1200px) and (max-width: 1299px) {
                left: -50px;
            }

            @media (min-width: 1300px) {
                left: -75px;
            }
        }

        .swiper-reviews-next {
            right: 80px;

            @media (min-width: 1200px) and (max-width: 1299px) {
                right: -50px;
            }

            @media (min-width: 1300px) {
                right: -75px;
            }
        }
    }
}