.vil-courses {
	$courses: &;

	~ .vil-courses {
		padding-top: 0;
	}

	padding: 64px 0 40px;

	@media (max-width: 991px) {
		padding-top: 56px;
	}
	@media (max-width: 575px) {
		padding: 48px 0;
	}

	&__subtitle {
		@extend %text-18;
		letter-spacing: 0.02em;
		font-family: $font-family-montserrat;
		margin: 0 ;
	}

	&__head {
		display: flex;
		align-items: center;
		margin: 0 0 40px;

		@media (max-width: 767px) {
			margin: 0 0 32px;
		}

		#{$courses}__title {
			font-weight: 600;
			font-size: 36px;
			line-height: 56px;
			text-align: left;
			color: $primary-text-color;
			margin: 0 0 16px;

			@media (max-width: 991px) {
				font-size: 30px;
				line-height: 38px;
			}
			@media (max-width: 575px) {
				font-size: 28px;
				line-height: 36px;
			}
		}

		.vil-btn {
			flex-shrink: 0;
			margin-left: 56px;
		}
	}


	&.title-center {
		#{$courses}__head {
			flex-direction: column;
			text-align: center;

			#{$courses}__title {
				@extend %h2;
				font-weight: 600;
				color: $primary-text-color;
				text-align: center;
				margin-bottom: 0;

				@media (max-width: 767px) {
					font-size: 22px;
					line-height: 30px;
				}
			}
		}

		.vil-btn {
			margin-top: 25px;
		}
	}
}

.vil-course-card {
	padding: 24px;
	display: flex;
	flex-direction: column;
	height: 100%;
	transition: all 0.25s ease;
	@media (max-width: 575px) {
		padding: 20px 16px 16px;
	}

	&:hover {
		border-color: $brand-secondary;
	}

	&__title {
		@extend %text-18;
		font-weight: 600;
		margin: 0 0 16px;
		a {
			@extend %text-18;
			font-weight: 600;
			text-decoration: none;
			color: $primary-text-color;
		}
	}

	&__info {
		margin: 0 0 12px;
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;

		&-item {
			display: flex;
			align-items: center;
			@extend %text-14;
			font-weight: 600;
			line-height: 18px;
			letter-spacing: 0.01em;
			margin: 0 16px 6px 0;

			&:last-child {
				margin-right: 0;
			}

			.icon {
				display: block;
				flex-shrink: 0;
				height: 18px;
				margin-right: 6px;

				img {
					height: 18px;
					width: auto;
				}

				svg {
					vertical-align: top;
					height: 100%;
				}
			}
		}
	}

	&__description {
		margin: 0 0 16px;
		p {
			@extend %text-14;
			font-weight: 500;
			margin: 0;
		}

		&-label {
            color: $green-color2;
            border: 1px solid $green-color2;
            border-radius: 12px;
            padding: 6px 10px;
            display: inline-block;
            font-weight: 800;
            font-size: 10px;
            line-height: 10px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            margin-top: 12px;
        }
	}
}
