.vil-faq {
    &__colum {
        padding: 32px 24px;
        list-style-type: none;
        margin: 0;
        width: 256px;
        border: 1px solid $white-grey-color;
        font-family: $font-family-montserrat;
        border-radius: 3px;
        @media (max-width: 991px) {
            width: 100%;
            margin: 0 0 32px;
        }

        &-title {
            font-size: 16px;
            line-height: 20px;
            color: $brand-secondary;
            margin-bottom: 8px;
            padding-left: 12px;
            font-weight: 700;
        }
        
        ul {
            list-style-type: none;
            margin: 0;
            li {
                &:last-child {
                    margin-bottom: 7px;
                }
                
                &.current_page_item,
                &.current-menu-item {
                    a {
                        font-weight: 700;
                        color: $brand-primary;

                        &:hover,
                        &:focus,
                        &:active {
                            font-weight: 700;
                        }
                    }
                }

                &.active {
                    & > a {
                        color: $brand-secondary;
                        font-weight: 700;
                    }
                }

                a {
                    @extend %text-16;
                    line-height: 20px;
                    color: $dark-grey;
                    font-weight: 600;
                    transition: .2s;
                    padding: 12px;
                    display: block;
                    width: 100%;
                    border-radius: 6px;

                    &:hover,
                    &:focus,
                    &:active {
                        color: $white-color;
                        text-decoration: none;
                        background-color: $brand-secondary;
                    }
                }
            }
        }

    }
}