.vil-featured-content {
    //padding-bottom: 36px;
    $block: &;

    &.bg_brand_color {
        padding: 88px 0;

        @media (max-width: 991px) {
            padding: 56px 0;
        }

        #{$block}__title {
            margin: 0;
            color: $white-color;
        }

        #{$block}__wrap {
            &:after {
                display: none;
            }
        }
    }

    &__head {
        align-items: center;
        justify-content: space-between;
        margin: 0 0 48px;
        @media (max-width: 767px) {
            margin: 0 0 32px;
        }
    }

    &__wrap {
        position: relative;
    }

    &__post {
        @media (max-width: 991px) {
            border-bottom: 1px solid $white-grey-color;
            padding-bottom: 4px;
            margin-bottom: 24px;
        }

        &.item_light {
            @media (max-width: 991px) {
                border-color: $brand-secondary;
            }

            .vil-main-post__sidebar-articles-category {
                background: rgba(80, 145, 205, 0.2);
                color: $white-color;
            }

            .vil-main-post__content-time-read {
                color: $white-color;
            }

            .vil-featured-content__title-post {
                a {
                    color: $white-color;
                    &:hover {
                        color: $brand-secondary;
                    }
                }
            }

            .vil-main-post__content-text {
                color: $white-color;
            }
        }
    }

    &__three-posts {

        &-card {
            //display: flex;
            padding: 24px 0;
            border-bottom: 1px solid $white-grey-color;
            @media(max-width: 575px) {
                border-bottom: none!important;
                padding-top: 0;
            }
            &.item_light {
                border-bottom: 1px solid $brand-secondary;

                .vil-main-post__sidebar-articles-category {
                    color: $white-color;
                }

                .vil-main-post__content-time-read {
                    color: $white-color;
                }

                .vil-featured-content__three-posts-card-title {
                    color: $white-color;
                    &:hover {
                        color: $brand-secondary;
                    }
                }
            }

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
                @media(max-width: 767px) {
                    margin-bottom: 22px;
                }
            }

            &-title {
                @extend %text-18-v2;
                font-weight: 700;
                margin-top: 8px;
                color: $primary-text-color;
                transition: 0.4s;
                a {
                    text-decoration: none;
                    transition: all 0.4s;
                }

                &:hover,
                &:focus,
                &:active {
                    cursor: pointer;
                    text-decoration: none;
                    color: $brand-secondary;
                }
            }

            &-image-wrap {
                border-radius: 3px;
                overflow: hidden;
                position: relative;
                //padding-bottom: 57.15%;
                min-height: 128px;
                width: 100%;
                //min-width: 224px;
                //@media(max-width: 1260px) {
                //    min-width: 186px;
                //}
                @media(max-width: 575px) {
                    margin: 0 0 24px;
                }
            }

            &-image {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
            }

            &-top {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                row-gap: 8px;
                margin-bottom: 8px;

                .vil-main-post__sidebar-articles-category {
                    .post-categories li a {
                        color: white;
                        pointer-events: none;
                    }
                }
            }
        }
    }

    &__title-post {
        @extend %text-22;
        font-family: $font-family-mulish;
        color: $primary-text-color;
        font-weight: 700;
        margin: 12px 0 8px;
        transition: 0.4s;

        a {
            text-decoration: none;
            transition: all 0.4s;
            color: $primary-text-color;
            &:hover {
                text-decoration: none;
                color: $brand-secondary;
                cursor: pointer;
            }
        }
    }

    &-image {
        border-radius: 3px;
        @media (max-width: 575px) {
            width: -webkit-fill-available;
        }

        &-wrap {
            @media (max-width: 575px) {
                margin-bottom: 14px;
            }
        }
    }

    &-top {
        margin-bottom: 8px;
    }
    &__up {
        margin-bottom: 32px;
        .vil-featured-content__title {
            color: $brand-primary;
        }
    }
    &__title {
        @extend %h2;
        font-weight: 600;
        margin: 32px 0;
        color: $brand-primary;
    }
}
