.vil-form {
    padding: 56px 0;

    &__title {
        margin-bottom: 20px;
    }

    &__form {
        &-and-content {
            padding: 0 15px;
        }

        &-text-bottom {
            color: $black-color;
            font-size: 14px;
            padding-right: 14px;
            line-height: 14px;

            a {
                color: $brand-blue;
            }
        }

        .select2-selection {
            &__rendered {
                font-size: 16px !important;
            }

            &__arrow {
                bottom: -10px !important;
            }
        }

        .select2-container--open .select2-dropdown {
            top: 12px !important;
        }
    }

    &__only-form {
        max-width: 710px;
        padding: 0 15px;
        margin: auto;
    }

    &-section {
        max-width: 970px;
        margin: auto;
    }

    &__left {
        max-width: 383px;

        &-image {
            max-height: 400px;
            width: -webkit-fill-available;
            margin-bottom: 24px;
            border-radius: 4px;
            object-fit: cover;
        }

        &-text {
            font-style: normal;
            text-align: center;
        }

        @media (max-width: 767px) {
            margin: auto;
        }
    }

    &__right {
        max-width: 506px;
        margin-left: auto;
        @media (max-width: 767px) {
            margin-right: auto;
        }
    }
}

.gform_wrapper.gravity-theme {
    .gform_required_legend,
    .gf_progressbar {
        display: none;
    }

    .gform_fields {
        display: block !important;
    }

    .gfield_required {
        display: none !important;
    }

    .gfield {
        margin-bottom: 7px;

        &_label {
            font-family: $font-family-mulish;
            font-weight: 700;
            font-size: 14px !important;
            margin-bottom: 2px !important;
        }

        input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
        textarea {
            background: $white-color;
            border: 1px solid $border-color;
            border-radius: 4px;
            padding: 5px 12px !important;
            height: 36px;
            width: 100%;

            &:focus {
                border-color: $brand-primary;
            }
        }

        .gfield_radio {
            .gchoice {
                margin-bottom: 5px;

                &:last-child {
                    margin-bottom: 0;
                }

                label {
                    font-size: 16px;
                    color: $primary-text-color;
                    margin-left: 8px;
                }
            }
        }

        .select2-container {
            box-sizing: border-box;
            border: none;
            border-radius: 0;
            height: 48px !important;
            width: 100% !important;

            &:focus, &:active {
                outline: none;
                box-shadow: none;
            }

            &.select2-container--open, &.select2-container--focus {
                outline: none;
                box-shadow: none;
            }

            &.select2-container--open {
                .select2-selection__arrow {
                    transform: rotate(180deg);
                }
            }

            .select2-selection--single {
                background-color: $white-color;
                border: 1px solid #A9A9A9;
                box-sizing: border-box;
                height: 48px !important;
                border-radius: 4px !important;

                &[aria-expanded="true"] {

                    .select2-selection__arrow b {
                        transform: rotate(180deg);
                    }
                }

                &:focus, &:active {
                    outline: none;
                    box-shadow: none;
                }
            }

            .select2-selection__rendered {
                align-items: center;
                height: 100%;
                line-height: 1;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                font-family: $font-family-mulish;
                display: flex;
                color: $dark-grey !important;
                padding-left: 12px !important;
                padding-right: 34px;
                text-align: left;
            }

            .select2-selection__placeholder {
                color: $dark-grey !important;
            }

            .select2-selection__arrow {
                width: 14px !important;
                height: 7px !important;
                top: 0;
                right: 12px !important;
                bottom: 0;
                margin: auto;
                background-image: url("../img/icon-vector.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                transform: rotate(0deg);

                b {
                    display: none;
                }
            }
        }
    }

    .gform_footer,
    .gform_page_footer {
        padding: 0 !important;
        margin-top: 0 !important;

        input[type="submit"],
        input[type="button"] {
            display: flex;
            justify-content: center;
            background-color: $brand-secondary !important;
            border: 1px solid $brand-secondary !important;
            border-radius: 3px;
            font-family: $font-family-montserrat;
            font-weight: 600;
            font-size: 14px !important;
            color: $white-color;
            line-height: 22px;
            padding: 9px 23px;
            margin: 20px 0 0;
            transition: .2s;
            width: 100%;

            &:hover {
                color: $white-color;
                text-decoration: none;
                opacity: .9;
            }
        }
    }

}

.gform_wrapper {
    .gform_validation_errors {
        display: none;
    }

    .gfield_validation_message, .gform_wrapper .validation_message {
        display: none;
    }
}

#gform_fields_2 {

    .gfield_label {
        text-transform: uppercase;
        font-size: 12px !important;
        margin-bottom: 8px !important;

    }

    input {
        height: 48px;
        font-size: 16px;
    }

    legend.gfield_label {
        text-transform: inherit;
        font-size: 16px !important;
        margin-bottom: -8px !important;

        .gfield_required {
            display: none;
        }
    }

    .select2-selection {
        height: 48px !important;
        align-content: center;
        display: grid;
    }

    .gfield_radio {
        margin-bottom: 10px;

        .gchoice {
            height: 24px !important;
        }
    }
}

#gform_submit_button_2 {
    font-size: 16px !important;
    padding: 16px 0 !important;
    margin-top: 20px;
    margin-bottom: 20px;
    @media (max-width: 640px) {
        padding: 11px 0 !important;
    }
}

.gfield_contains_required {
    .gfield_label {
        &:after {
            content: '*';
            color: red;
        }
    }

    .gfield_required_text {
        display: none !important;
    }
}