.vil-hero {
    $self: &;

    background-color: $brand-primary;
    padding: 64px 0;

    @media (max-width: 575px) {
        padding: 80px 0;
        margin: 0;
        display: flex;
        align-items: center;
    }

    &.light-full-text {
        background-color: $white-color;
        #{$self}__title {
            font-size: 40px;
            font-weight: bold;
        }

        #{$self}__btns {
            display: none!important;
        }

        #{$self}__text {
            max-width: 674px;
            margin: auto;
            p {
                color: $brand-primary;
            }
        }

        .vil-main-date {
            display: none;
        }

        .col {
            max-width: 100%;
            flex: 100%;
            text-align: center;
        }

        .row {
            justify-content: center;
            text-align: center;
        }
    }

    &.dark-full-text {
        #{$self}__btns {
            display: none!important;
        }

        #{$self}__title {
            font-size: 40px;
            font-weight: 500;
            color: $orange-color!important;
        }

        #{$self}__text {
            max-width: 674px;
            margin: auto;
            p {
                color: $white-color;
            }
        }

        .col {
            max-width: 100%;
            flex: 100%;
            text-align: center;
        }

        .row {
            justify-content: center;
            text-align: center;
        }
    }

    &.dark {
        .vil-main-title {
            color: $white-color!important;
            line-height: 48px;
        }
    }

    &.light {
        background-color: $white-color;
        padding: 88px 0;

        @media (max-width: 767px) {
            font-size: 40px;
            line-height: 54px;
        }

        @media (max-width: 575px) {
            padding-top: 40px;

            #{$self}__media {
                padding-top: 20px;
            }
        }

        .vil-btn_primary {
            background-color: $brand-primary-second;
            border-color: $brand-primary;
            color: $white-color;

            &:hover {
                background-color: $brand-primary;
                border-color: $brand-primary;
                color: $white-color;
            }
        }

        .vil-btn_secondary {
            color: $brand-primary;
            border: 1px solid $brand-primary;
            &:hover {
                background-color: $brand-primary-second;
                border-color: $brand-primary-second;
                color: $white-color;
            }
        }

        .vil-hero__text p, .vil-hero__title {
            color: $brand-primary;
        }

        .vil-hero__media {
            @media(min-width: 992px) {
                padding-left: 30px;
            }
        }
    }
    &__text {
        p {
            @extend %text-18;
            letter-spacing: 0.02em;
            color: $secondary-text-color;
            margin: 0;
            font-family: $font-family-montserrat;
        }
    }
    &__title {
        font-family: $font-family-montserrat;
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
        color: $brand-primary!important;
        letter-spacing: -0.2px;
        margin: 0 0 40px;
        @media (max-width: 1260px) {
            font-size: 40px;
            line-height: 54px;
        }
        @media (max-width: 767px) {
            font-size: 36px;
            line-height: 44px;
            font-weight: 600;
        }
        @media (max-width: 575px) {
            margin: 0 0 36px;
        }
    }
    &__btns {
        margin: 32px 0 0;

        @media (max-width: 767px) {
            flex-direction: column;
            align-items: flex-start;
        }

        @media (max-width: 575px) {
            margin: 24px 0 0;
        }

        .vil-btn {
            margin-right: 16px;
            @media (max-width: 767px) {
                align-self: flex-start;
                margin: 0 0 16px;
            }

            &_primary {
                &:hover,
                &:focus,
                &:active {
                    background-color: $white-color;
                    border-color: $white-color;
                    color: $brand-primary;
                }
            }

            &:first-child {
                @media (max-width: 575px) {
                    margin-right: 15px;
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__media {
        width: 100%;
        max-width: 532px;
        margin-left: auto;
        @media (max-width: 991px) {
            max-width: none;
            margin: 30px 0 0;
        }

        &-wrap {
            position: relative;
            width: 100%;
            padding-bottom: 56.4%;
            height: 288px;
            margin-left: auto;
            @media (max-width: 991px) {
                margin: auto;
            }
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 6px;
            }
            &-video {
                iframe {
                    min-height: 300px;
                    margin-bottom: 0;
                }
            }
        }
    }
}