.vil-learn {
    @media (max-width: 991px) {
        padding: 56px 0;
    }

    &__head {
        text-align: center;
    }

    &__tabs {
        @media (max-width: 991px) {
            margin: 0 0 24px;
        }
    }

    &__tab {
        padding: 24px;
        cursor: pointer;
        border-radius: 6px;
        transition: all 0.4s;
        margin: 0 0 12px;
        width: 100%;

        @media (max-width: 991px) {
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
        }

        @media (max-width: 400px) {
            padding: 16px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &.active {
            background: rgba(80, 145, 205, 0.1);
        }

        h6 {
            @extend %text-18;
            font-family: $font-family-mulish;
            font-weight: 700;
            margin: 0 0 8px;
        }

        p {
            @extend %text-16;
            transition: all 0.4s;
            font-weight: 600;
            margin: 0;
        }
    }

    &__content {
        display: none;

        &.active {
            display: block;
        }
    }

    &__image {
        overflow: hidden;
        border-radius: 4px;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
        height: 345px;

        img,iframe {
            width: 100%;
            height: inherit;
            object-fit: cover;
            margin-bottom: auto;
        }
    }
}
