.vil-courses {
    //background-color: $light-color-background;

    &__filter {
        background-color: $brand-primary;
        margin: 0 0 32px;
        padding: 40px;
        border-radius: 6px;

        &-title {
            @extend %h4;
            font-weight: 600;
            color: $white-color;
            text-align: center;
            margin: 0 0 24px;
        }

        &-select {
            width: 100%;
            max-width: 407px;
            margin: 0 auto;
        }
    }

    &__title {
        @media (max-width: 575px) {
            font-weight: 600;
            font-size: 24px;
            text-align: center;
            margin-bottom: 25px;
        }
    }

    .select2-dropdown {
        &--below-,
        &--above {
            @media (max-width: 575px) {
                top: 44px !important;
            }
        }
    }
}

.vil-course-line {
    display: flex;
    align-items: center;
    padding: 15px 23px;
    transition: all 0.25s ease;

    &:hover {
        border-color: $brand-secondary;
    }

    @media (max-width: 991px) {
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        padding: 20px 16px 16px;
    }

    &__title {
        @extend %text-18;
        font-family: $font-family-montserrat;
        font-weight: 600;
        margin: 0 15px 0 0;
        flex-grow: 1;

        @media (max-width: 991px) {
            margin: 0 0 16px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        a {
            color: $primary-text-color;

            &:hover {
                text-decoration: none;
            }
            margin-right: 24px;
        }

        &-label {
            color: $green-color2;
            border: 1px solid $green-color2;
            border-radius: 12px;
            padding: 6px 10px;
            display: inline-block;
            font-weight: 800;
            font-size: 10px;
            line-height: 10px;
            letter-spacing: 0.05em;
            text-transform: uppercase;

            @media (max-width: 991px) {
                margin-top: 7px;
            }

            @media (max-width: 575px) {
                display: block;
                margin-top: 10px;
                width: fit-content;
            }
        }
    }

    &__info {
        display: flex;
        align-items: center;
        margin-left: auto;

        @media (min-width: 1261px) {
            flex-shrink: 0;
        }

        @media (max-width: 991px) {
            margin: 0 0 8px;
            flex-wrap: wrap;
        }

        &-item {
            display: flex;
            align-items: center;
            @extend %text-14;
            font-weight: 600;
            line-height: 18px;
            letter-spacing: 0.01em;
            margin: 0 16px 0 0;
            @media (max-width: 991px) {
                margin: 0 14px 8px 0;
            }

            &:last-child {
                margin-right: 0;
            }

            .icon {
                display: block;
                flex-shrink: 0;
                height: 18px;
                margin-right: 6px;

                img {
                    height: 18px;
                    width: auto;
                }
                
                svg {
                    vertical-align: top;
                    height: 100%;
                }
            }
        }
    }

    .vil-btn {
        margin-left: 15px;
        width: 140px;
        padding: 11px 5px;
        flex-shrink: 0;

        @media (max-width: 991px) {
            width: 100%;
            margin-left: 0;
        }
    }
}
