.vil-main-post {
    &__info {
        margin-bottom: 12px;
    }
    &__main {
        p {
            @extend %text-18;
            @media (max-width: 576px) {
                font-size: 16px;
                line-height: 24px;
            }

            a {
                color: $brand-primary;
                text-decoration: underline;

                &:hover {
                    color: $brand-secondary;
                }
            }
        }

        h5 {
            @extend %h5;
            margin-bottom: 20px;
            @media (max-width: 576px) {
                font-size: 22px;
                line-height: 30px;
            }
        }

        ul {
            li {
                margin-bottom: 16px;
                @extend %text-18;
                @media (max-width: 576px) {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }

        video {
            max-width: -webkit-fill-available;
            margin-bottom: 24px;
        }
    }

    &__content {
        margin-right: 30px;
        margin-top: 8px;
        @media (max-width: 991px) {
            margin-right: 0;
        }
        p {
            @extend %text-16;
        }

        &-title {
            font-weight: 800;
            font-size: 36px;
            line-height: 46px;
            margin-bottom: 20px;
            font-family: $font-family-mulish;
            @media (max-width: 575px) {
                font-size: 28px;
                line-height: 36px;
                margin-bottom: 16px;
            }
        }

        &-post-data {
            @extend %text-14;
            color: $dark-grey;
            font-weight: 600;
            font-family: $font-family-montserrat;
        }

        &-image {
            border-radius: 3px;
            max-height: inherit;
            width: -webkit-fill-available;
            object-fit: cover;
            &-wrap {
                margin-bottom: 24px;
                max-height: 304px;
            }
        }

        &-info {
            display: flex;
            margin: 40px 0 20px;
        }

        &-time-read {
            font-size: 12px !important;
            color: $dark-grey;
            align-self: center;
            font-weight: 600;
            font-family: $font-family-montserrat;
        }

    }

    &__related {
        @media (max-width: 767px) {
            margin: -30px 0 40px;
        }
        @media (max-width: 575px) {
            margin-top: -13px;
        }
        &-wrap {
            padding-top: 40px;
            position: relative;
            &:after {
                content: "";
                width: 100%;
                height: 1px;
                background-color: $grey-text-color-light;
                position: absolute;
                top: 0;
                left: 0;
                max-width: 774px;
            }
        }

        &-post {
            margin-top: 24px;
            display: flex;
            @media (max-width: 575px) {
                padding: 12px 0;
                display: block;
                margin-top: 0;
                border-bottom: 1px solid $grey-text-color-light;
                &:last-child {
                    border-bottom: none;
                }
            }

            &-image {
                width: 275px;
                height: 145px;
                @media (max-width: 767px) {
                    height: auto;
                }

                &-picture {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                    border-radius: 3px;
                }

                @media (max-width: 575px) {
                    width: -webkit-fill-available;
                    margin-bottom: 8px;
                }
            }
        }

        &-title {
            font-weight: 700;
            color: $brand-secondary;
            font-size: 16px;
            font-family: $font-family-montserrat;
            margin-bottom: 14px;
        }

        &-content {
            width: calc(100% - 300px);
            margin-left: 25px;
            align-self: center;
            font-family: $font-family-mulish;
            @media (max-width: 575px) {
                margin-left: 0;
                width: 100%;
            }

            &-title {
                @extend %text-18-v2;
                font-weight: 700;
                color: $primary-text-color;

                &:focus,
                &:active,
                &:hover {
                    text-decoration: none;
                    cursor: pointer;
                    color: $brand-secondary;
                }

                @media (max-width: 575px) {
                    margin-top: 8px;
                    font-weight: 600;
                }
            }

            &-text {
                margin: 8px 0 12px;
                @media (max-width: 575px) {
                    margin-bottom: 0;
                    font-size: 14px;
                    line-height: 16px;
                    margin-top: 5px;
                }
            }

            &-more {
                color: $dark-grey;

                &:hover {
                    color: $brand-secondary;
                }

                @media (max-width: 575px) {
                    display: none;
                }
            }
        }
    }

    &__sidebar {
        max-width: 337px;
        margin-left: auto;
        margin-top: 90px;
        @media (max-width: 767px) {
            margin-top: 34px;
            max-width: inherit;
            margin-left: 0;
        }

        .select-wrap {
            width: 100%;
            padding-bottom: 32px;
            .select2 {
                width: 100% !important;
            }
            .select2-container--open .select2-dropdown {
                top: 0 !important;
            }
        }

        &-guide {
            text-align: center;
            margin-bottom: 32px;
            background-color: $secondary-text-color;
            padding-bottom: 24px;
            border-radius: 0 0 6px 6px;

            &-title {
                padding: 16px;
                background-color: $brand-primary;
                color: $white-color;
                font-weight: 600;
                margin: 0 0 24px;
                font-family: $font-family-montserrat;
            }

            &-img {
                border-radius: 3px;
                max-width: 181px;
            }

            &-btn {
                justify-content: center;
                display: flex;
                margin: 16px auto 0;
                font-family: $font-family-montserrat;
                padding: 12px 19px;
                max-width: 198px;
                font-size: 15px;
                color: $brand-primary;
                font-weight: 500;
                border: 1px solid $brand-primary;
                border-radius: 200px;

                &:hover,
                &:focus,
                &:active {
                    text-decoration: none;
                    outline: none;
                }
            }
        }

        &-programs {
            margin-bottom: 32px;

            &-card {
                text-align: center;
                margin-bottom: 16px;
                box-shadow: $shadow;
                padding: 16px 16px 20px;
            }

            &-btn {
                justify-content: center;
                display: flex;
                margin: 12px auto 0;
                font-family: $font-family-montserrat;
                padding: 12px 15px;
                max-width: 150px;
                font-size: 14px;
                color: $dark-grey;
                font-weight: 600;
                border: 1px solid $dark-grey;
                border-radius: 3px;
                transition: all .4s;

                &:hover,
                &:focus,
                &:active {
                    text-decoration: none;
                    outline: none;
                    background-color: $brand-primary-second;
                    border-color: $brand-primary-second;
                    color: $white-color;
                }
            }

            &-title {
                margin: 16px 0 12px;

                &-link {
                    transition: 0.2s;
                    font-weight: 700;
                    color: $black-color;
                    @extend %text-16-v2;

                    &:hover,
                    &:focus,
                    &:active {
                        text-decoration: none;
                        color: $black-color;
                    }
                }
            }

            &-text {
                color: $grey-text-color;
                font-weight: 500;
                @extend %text-14;
            }

            &-img {
                border-radius: 3px;
            }
        }

        &-articles {
            &-card {
                padding: 17px 0 21px;
                display: flex;
                border-bottom: 1px solid $grey-text-color-light;
                @media (min-width: 767px) and (max-width: 991px) {
                    display: block;
                }
                @media (max-width: 767px) {
                    justify-content: space-between;
                }

                &-img {
                    @media (max-width: 767px) {
                        margin-left: 15px;
                    }
                }
            }

            &-category {
                padding: 4px 8px;
                background-color: rgba(80,145,205,.2);
                border-radius: 3px;
                font-size: 12px;
                font-weight: 600;
                font-family: "Montserrat",sans-serif;
                margin-right: 8px;
                color: $primary-text-color;
                &:hover, &:focus,
                &:active {
                    color: $brand-primary;
                }
                &:last-child {
                    margin-right: 0;
                }
                a {
                    color: inherit;
                }
            }

            &-title {
                @extend %text-16-v2;
                color: $black-color;
                font-weight: 600;
                transition: 0.2s;

                &:hover,
                &:focus,
                &:active {
                    text-decoration: none;
                    color: $brand-secondary;
                }

                &-wrap {
                    margin-top: 8px;
                }
            }

            &-text {
                &-wrap {
                    max-width: calc(100% - 116px);
                    margin-right: 16px;
                }
            }

            &-img {
                border-radius: 3px;

                &-wrap {
                    width: 100px;
                    height: 100px;
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    @media (min-width: 767px) and (max-width: 991px) {
                        margin-top: 10px;
                    }
                    @media (max-width: 767px) {
                        margin-left: 13px;
                    }
                    img {
                        object-fit: cover;
                    }
                }
            }
        }
    }

    &__top {
        display: flex;

        &-link {
            color: $brand-primary;
            margin-right: 3px;

            &:hover {
                color: $brand-secondary;
            }
        }

        &-links {
            display: flex;
            
            @media (max-width: 575px) {
                font-size: 14px;
            }
        }
    }

    &__back {
        margin-right: 16px;
        display: flex;
    }

    &__current-post {
        margin: 0;
    }
}
