.vil-image-card {
    position: relative;
    .text-col {
        text-align: left;
    }
    &.text-left {
        .media-col {
            order: 2;
        }
    }
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: $brand-primary;
        overflow: hidden;

        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            @media (max-width: 991px) {
                display: none;
            }
        }

        &:before {
            height: 100%;
            width: 25%;
            left: 0;
            background-color: $brand-secondary;
        }

        &:after {
            left: calc(25% - 1px);
            width: 278px;
            height: 100%;
            background-color: $brand-secondary;
            clip-path: polygon(0 0, 50% 100%, 0% 100%);
        }
    }

    &__wrap {
        padding: 88px 0;
        @media (max-width: 991px) {
            padding: 56px 0;
        }
    }

    &__image {
        border-radius: 8px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    &__subcontent {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 30px;

        p {
            @extend %text-16;
            letter-spacing: 0.02em;
            font-family: $font-family-montserrat;
            color: $secondary-text-color;
            margin: 0;
            @media (max-width: 575px) {
                font-size: 18px;
                line-height: 28px;
            }

            a {
                color: $brand-secondary;
            }
        }

        img {
            max-width: 130px;
            height: auto;
            margin-right: 16px;
        }

        @media (max-width: 991px) {
            padding-top: 0;
            padding-bottom: 25px;
        }
    }

    &__content {
        padding-left: 30px;
        @media (max-width: 1260px) {
            padding-left: 0;
        }

        a {
            &:hover {
                text-decoration: none;
            }
        }
    }

    &__title {
        @extend %h2;
        font-weight: 600;
        color: $secondary-text-color;
        margin: 0 0 24px;
    }

    &__text {
        @media (max-width: 991px) {
            margin: 0 0 32px;
        }
        p {
            @extend %text-16;
            letter-spacing: 0.02em;
            font-family: $font-family-montserrat;
            color: $secondary-text-color;
            margin: 0 0 24px;
            @media (max-width: 575px) {
                font-size: 18px;
                line-height: 28px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        b {
            font-weight: 600;
        }
    }
}
