.vil-main-banner {
    padding: 88px 0;
    background-color: $white-color;
    @media (max-width: 991px) {
        padding: 54px 0;
    }
    @media (max-width: 575px) {
        padding: 24px 0 54px;
    }

    &__wrap {
        align-items: center;
        @media (max-width: 991px) {
            flex-direction: column;
        }
    }

    &__content {
        flex-grow: 1;
    }

    &__title {
        font-weight: 500;
        font-size: 44px;
        line-height: 56px;
        font-family: $font-family-montserrat;
        color: $brand-primary;
        letter-spacing: -0.005em;
        margin: 0 0 40px;
        @media (max-width: 1260px) {
            font-size: 40px;
            line-height: 54px;
        }
        @media (max-width: 767px) {
            font-size: 36px;
            line-height: 44px;
            font-weight: 600;
        }
        @media (max-width: 575px) {
            margin: 0 0 36px;
        }
    }

    &__btns {
        @media (max-width: 575px) {
            flex-direction: column;
        }
        .vil-btn {
            margin-right: 16px;
            @media (max-width: 575px) {
                margin: 0 0 16px;
                width: 220px;
            }

            &:last-child {
                margin-right: 0;
                @media (max-width: 575px) {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__image {
        position: relative;
        width: 408px;
        flex-shrink: 0;
        margin: 24px 0 24px 75px;
        @media (max-width: 1260px) {
            margin: 24px 0 24px 60px;
        }
        @media (max-width: 991px) {
            width: 100%;
            margin: 50px 0 24px 0;
        }
        @media (max-width: 575px) {
            width: calc(100% - 20px);
            margin: 45px 0 0 20px;
        }

        img {
            width: 100%;
        }
    }

    &__product {
        position: absolute;
        background: $white-color;
        box-shadow: 0px 1.87755px 7.51019px rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        padding: 16px 18px;
        text-align: center;
        font-weight: 600;
        @extend %text-14;
        line-height: 20px;
        font-family: $font-family-montserrat;
        @media (max-width: 575px) {
            font-size: 11px;
            line-height: 16px;
            padding: 12px;
        }

        $product: &;

        &.line-type {
            display: flex;
            align-items: center;
            padding: 8px 18px;
            @media (max-width: 575px) {
                padding: 6px 14px;
            }

            #{$product}-icon {
                margin-bottom: 0;
                margin-right: 13px;
                @media (max-width: 575px) {
                    margin-right: 10px;
                }
            }
        }

        &.prod1 {
            top: -24px;
            right: 16px;
            @media (max-width: 575px) {
                top: -20px;
                right: 12px;
            }
        }

        &.prod2 {
            top: 60px;
            left: -24px;

            @media (max-width: 575px) {
                top: 49px;
                left: -20px;
            }
        }

        &.prod3 {
            right: 23px;
            bottom: -24px;

            @media (max-width: 575px) {
                right: 18px;
                bottom: -20px;
            }
        }

        &-icon {
            height: 48px;
            width: fit-content;
            margin: 0 auto 8px;
            @media (max-width: 575px) {
                height: 38px;
            }

            img {
                height: 100%;
                position: static;
            }
        }
    }
}
