.vil-message-popup {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: all .4s;
    pointer-events: none;

    $popup: &;

    &.show {
        height: auto;
        pointer-events: auto;
    }

    a {
        text-decoration: none;
    }

    &__wrap {
        padding: 14px 40px;
        background-color: $brand-secondary;
        text-align: center;
        position: relative;
        transition: all 0.4s;

        p {
            font-weight: 600;
            font-size: 15px;
            line-height: 22px;
            letter-spacing: 0.02em;
            color: $secondary-text-color;
            margin: 0;
        }
    }

    &__close {
        background-color: transparent;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 24px;
        margin: auto;

        svg {
            height: 100%;
            width: 100%;
            vertical-align: top;

            path {
                transition: all 0.4s;
                fill: $secondary-text-color;
            }
        }

        &:hover {
            svg {
                path {
                    fill: $brand-primary;
                }
            }
        }
    }
}
