.vil-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 32, 92, 0.8);
    overflow-y: scroll;

    $modal: &;

    &.show {
        display: block;

        #{$modal}__dialog {
            transform: none;
        }
    }

    &.modal_right {
        #{$modal}__content {
            flex-direction: row-reverse;

            @media (max-width: 767px) {
                flex-direction: column-reverse;
            }
        }


        #{$modal}__media {
            &:after {
                width: 100%;
                height: 36%;
                background-image: none;
                background-color: $brand-secondary;
                bottom: 0;
                right: 0;
                top: auto;
            }
        }
    }

    &__dialog {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        transition: transform .3s ease-out;
        transform: translate(0, -50px);
        margin: 70px auto;
        position: relative;
        @media (max-width: 991px) {
            margin: 70px 16px;
            max-width: none;
        }
    }

    &__wrap {
        width: 100%;
        max-width: 950px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
        border-radius: 6px;
        overflow: hidden;
    }

    &__close {
        margin: 32px auto 0;
        width: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 12px;
        border: 1px solid $white-grey-color;
        border-radius: 200px;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.01em;
        color: $white-grey-color;
        background-color: transparent;

        &:hover {
            text-decoration: none;
            background-color: $brand-secondary;
            border-color: $brand-secondary;
            color: $white-color;

            .icon {
                svg  {
                    path {
                        fill: $white-color;
                    }
                }
            }
        }

        .icon {
            width: 10px;
            height: 10px;
            flex-shrink: 0;
            margin-left: 8px;

            svg {
                vertical-align: top;
                width: 100%;
                height: 100%;
                path {
                    fill: $white-grey-color;
                }
            }
        }
    }

    &__content {
        background: $white-color;
        display: flex;
        border-radius: 6px;
        overflow: hidden;

        @media (max-width: 767px) {
            flex-direction: column-reverse;
        }
    }

    &__form {
        padding: 40px 56px;
        width: 500px;
        flex-shrink: 0;
        @media (max-width: 991px) {
            width: 400px;
            padding: 32px 24px;
        }

        @media (max-width: 767px) {
            width: 100%;
        }

        p:not([class]) {
            @extend %text-14;
            color: $dark-grey;
            margin: 0 0 14px;
        }

        &-title {
            @extend %text-18;
            letter-spacing: 0.02em;
            text-align: center;
            margin: 0 0 32px;
        }
    }

    &__text-small {
        font-weight: 400;
        font-size: 9px;
        line-height: 12px;
        color: $black-color;
        margin: 0;

        a {
            text-decoration: underline;
            transition: all 0.4s;
            color: $brand-primary;

            &:hover,
            &:active,
            &:focus {
                color: $brand-secondary;
            }
        }
    }

    &__media {
        align-self: stretch;
        background-color: $brand-primary;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 50px 45px;
        position: relative;
        flex-grow: 1;

        @media (max-width: 991px) {
            width: 400px;
            padding: 32px 24px;
        }

        @media (max-width: 767px) {
            width: 100%;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 380px;
            height: 80%;
            top: 0;
            right: -45px;
            background-position: bottom right;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url("../img/triangl-rotate.svg");

            @media (max-width: 991px) {
                right: -24px;
                height: 90%;
            }

            @media (max-width: 767px) {
                display: none;
            }
        }

        &-title {
            @extend %text-18;
            color: $white-color;
            text-align: center;
            margin: 0 !important;
        }

        &-content {
            position: relative;
            z-index: 2;

            @media (max-width: 767px) {
                display: none;
            }
        }

        &-img {
            width: 100%;
            max-width: 325px;
            margin: 0 auto 32px;

            img {
                width: 100%;
            }
        }

        h5 {
            @extend %text-18;
            font-weight: 700;
            color: $white-color;
            margin: 0 0 20px;
        }

        h6 {
            @extend %text-16;
            font-weight: 600;
            font-family: $font-family-montserrat;
            letter-spacing: 0.02em;
            color: $white-color;
            margin: 0 0 16px;
        }

        p {
            @extend %text-14;
            font-weight: 300;
            letter-spacing: 0.02em;
            color: $white-color;
            margin: 0;

        }
    }
}
