.vil-more-posts {
	@media (max-width: 991px) {
		margin-top: -15px;
	}
	@media (max-width: 767px) {
		margin-top: 0;
	}
	&__title {
		color: $brand-primary;
		span {
			color: $brand-secondary;
		}
		@media (max-width: 767px) {
			margin-bottom: 24px;
		}
	}
	&__top {
		margin-bottom: 32px;
		display: flex;
		justify-content: space-between;
		@media (max-width: 767px) {
			display: block;
		}
		&.vil-more-posts__categories-select {
			.select-wrap {
				width: 168px;
				@media (max-width: 767px) {
					width: 100%!important;
				}
				@media (min-width: 991px) {
					display: none;
				}
				.select2 {
					@media (min-width: 767px) {
						width: -webkit-fill-available;
					}
					@media (max-width: 767px) {
						width: 100%;
					}
				}
			}
			&-full {
				.select-wrap {
					width: 168px;
					@media (max-width: 767px) {
						width: 100%!important;
					}
					.select2 {
						@media (min-width: 767px) {
							width: -webkit-fill-available;
						}
						@media (max-width: 767px) {
							width: 100%;
						}
					}
				}
			}
		}
	}
	&__card {
		margin-bottom: 32px;
		&-info {
			margin-bottom: 8px;
			display: flex;
			&-right {
				width: 115px;
				text-align: right;
			}
			&-left {
				display: flex;
				flex-wrap: wrap;
				gap: 5px;
				width: calc(100% - 115px);
			}
		}
		&-image {
			border-radius: 3px;
			height: inherit;
			width: -webkit-fill-available;
			object-fit: cover;
			@media (max-width: 575px) {
				width: -webkit-fill-available;
			}
			&-wrap {
				margin-bottom: 16px;
				height: 168px;
			}
		}
	}
	&__pagination {
		display: flex;
		justify-content: center;
		padding-bottom: 80px;
		padding-top: 26px;
		&-button {
			margin: 0 5px;
			font-size: 15px;
			border-radius: 50%;
			padding: 7.75px 14.5px;
			background-color: $white-color;
			color: $brand-primary;
			border: 1px solid $brand-primary;
			transition: 0.2s;
			font-weight: 500;
			font-family: $font-family-montserrat;
			width: 40px;
			&:hover,
			&:focus,
			&:active {
				background-color: $brand-primary;
				color: $white-color;
			}
		}
	}
	&__categories {
		font-family: $font-family-montserrat;
		@media (max-width: 991px) {
			display: none;
		}
		&-title {
			font-weight: 700;
			color: $brand-secondary;
			line-height: 24px;
		}
		&-wrap {
			list-style-type: none;
			margin: 0;
		}
		&-item {
			margin-bottom: 20px;
			@extend %text-14-v2;
			font-weight: 600;

			a {
				color: $brand-primary;
				position: relative;
				transition: all 0.25s ease;
				display: block;
				width: 100%;

				&.active {
					color: $brand-primary;
					font-weight: 700;
				}

				&:active,
				&:focus {
					text-decoration: none;
				}
				
				&:hover {
					color: $white-color;
					text-decoration: none;

					&:before {
						opacity: 1;
					}
				}

				&:before {
					content: '';
					position: absolute;
					z-index: -1;
					background-color: $brand-secondary;
					left: -12px;
					top: -12px;
					right: -12px;
					bottom: -12px;
					border-radius: 6px;
					opacity: 0;
					transition: all 0.25s ease;
				}
			}
		}
	}
}