.vil-payment {
    $payment: &;
    background-color: $light-color-background;

    ~ .vil-payment-options {
        padding-top: 0;
    }

    &.simple {
        .vil-block__title {
            @media (max-width: 991px) {
                text-align: center!important;
            }
        }
    }
    .vil-btn_secondary {
        &:hover {
            background-color: $white-color;
            border-color: $brand-primary;
        }
    }
    .vil-btn_primary {
        &:hover {
            background-color: $brand-secondary-hover;
            border-color: $brand-secondary-hover;
        }
    }

    &.bg_light_color {
        padding-top: 80px;
    }

    &__block {
        background-color: $light-color-background;
        padding-bottom: 24px;

        &.light {
            background-color: $white-color;

            .vil-payment {
                background-color: $white-color;
            }
        }
    }

    &__box {
        @media (min-width: 992px) {
            background: $white-color;
            box-shadow: 0 0 15px rgba($black-color, 0.05);
            border-radius: 6px;
            align-items: center;
            padding: 40px 40px 24px;
        }

        @media (max-width: 991px) {
            flex-direction: column;
            //padding: 32px 0 0;
        }

        &-wrap {
            @media (max-width: 991px) {
                flex-direction: column;
            }
        }

        &-desk {
            font-style: italic;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 0;
            text-align: center;
            padding-top: 16px;

            a {
                color: $brand-primary;
                text-decoration: underline;

                &:hover {
                    color: $brand-secondary;
                }
            }

            @media (max-width: 991px) {
                background-color: $white-color;
                border-radius: 6px;
                padding: 16px;
                margin-top: 8px;
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $white-color;
            border: 1px solid $grey-text-color;
            border-radius: 6px;
            text-align: center;
            margin-right: 25px;
            width: calc(50% - 25px);

            @media (max-width: 991px) {
                text-align: center;
                padding: 45px 15px;
                margin: 0 0 15px;
                width: 100%;
            }
        }

        &-title {
            font-size: 20px;
            line-height: 30px;
            color: $brand-primary;
            margin: 0;
            font-weight: 600;
            margin-bottom: 8px;
        }

        &-subtitle {
            font-size: 24px;
            line-height: 32px;
            font-weight: 600;
            margin: 0;
            color: $brand-primary;
        }

        &.payment_extended {
            @media (max-width: 1260px) {
                flex-wrap: wrap;
            }

            #{$payment}__box-content {
                @media (max-width: 1260px) {
                    width: 100%;
                    margin: 0 0 32px;
                    padding: 0 24px;
                    text-align: center;
                }
            }
        }
    }

    &__proposal {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-right: 16px;
        align-self: stretch;
        @media (max-width: 991px) {
            width: 100%;
            padding: 0 24px 24px;
            margin-right: 0;
        }

        &-wrap {
            text-align: left;
        }

        &-icon {
            margin-right: 16px;
        }

        &-item {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding: 24px;
            border: 1px solid $grey-text-color;
            border-radius: 6px;
            margin: 0 0 16px;
            text-align: center;
            flex-grow: 1;

            @media (max-width: 991px) {
                margin: 0 0 16px;
            }
            @media (max-width: 575px) {
                padding: 20px;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &:nth-child(2) {
                border-color: $green-color2;
                h5 {
                    color: $green-color2;
                }
            }

            h5 {
                font-weight: 600;
                font-family: $font-family-mulish;
                font-size: 20px;
                line-height: 30px;
                letter-spacing: 0.01em;
                margin: 0;
                @media (max-width: 575px) {
                    font-size: 20px;
                }
            }

            p {
                @extend %text-16;
                letter-spacing: 0.01em;
                width: 100%;
                margin: 0;
            }
        }
    }

    &__total {
        width: 50%;
        padding: 32px;
        background: $brand-primary;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
        border-radius: 6px;
        text-align: center;

        @media (max-width: 991px) {
            width: 100%;
        }

        @media (max-width: 575px) {
            padding: 32px 24px;
        }

        h5 {
            font-family: $font-family-mulish;
            font-weight: 700;
            font-size: 22px;
            line-height: 22px;
            letter-spacing: 0.02em;
            color: $white-color;
            margin: 4px 0 16px;
        }

        h5 + p {
            margin-top: -8px;
        }

        p {
            @extend %text-14;
            letter-spacing: 0.01em;
            color: $white-color;
            margin: 0 0 16px;
        }

        h4 {
            font-family: $font-family-mulish;
            font-weight: 700;
            font-size: 24px;
            line-height: 24px;
            letter-spacing: 0.01em;
            color: $white-color;
            margin: 0 0 28px;
        }

        .vil-btn {
            width: 100%;
            font-size: 16px;
            line-height: 24px;
            padding-top: 12px;
            padding-bottom: 12px;

            &_primary {

                &:hover,
                &:focus,
                &:active {
                    background-color: $white-color;
                    border-color: $white-color;
                    color: $brand-primary;
                }
            }
        }
    }

    &__method {
        align-items: center;
        padding: 56px 32px 56px;
        border-top: 1px dashed $white-grey-color;
        margin-bottom: -24px;

        @media (max-width: 1260px) {
            padding: 40px 0 0;
        }

        @media (max-width: 991px) {
            flex-direction: column;
        }

        @media (max-width: 575px) {
            margin-bottom: -12px;
        }

        &-info {
            align-self: center;
            width: 452px;
            flex-shrink: 0;
            margin-right: 48px;
            margin-bottom: 24px;
            @media (max-width: 1260px) {
                width: 400px;
                margin-right: 24px;
            }

            @media (max-width: 991px) {
                width: 100%;
                margin: 0 0 24px;
            }
        }

        &-title {
            font-weight: 600;
            font-size: 22px;
            line-height: 30px;
            margin: 0 0 16px;
        }

        &-text {
            p {
                @extend %text-16;
                font-weight: 600;
                letter-spacing: 0.01em;
                color: $grey-text-color;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &-type {
            flex-grow: 1;
        }
    }

    &__option {
        display: flex;
        align-items: center;
        @extend %text-16;
        font-weight: 600;
        text-align: left;
        color: $primary-text-color;
        font-family: $font-family-montserrat;
        padding: 16px 42px 16px 24px;
        border: 1px solid $border-color;
        border-radius: 6px;
        width: 100%;
        position: relative;
        &:hover,
        &:active,
        &:focus {
            color: $primary-text-color;
        }
        @media (max-width: 1260px) {
            height: 100%;
        }

        &:after {
            content: '';
            display: block;
            width: 17px;
            height: 16px;
            top: 0;
            bottom: 0;
            right: 22px;
            margin: auto;
            position: absolute;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            background-image: url("../img/arrow-btn.svg");
            transition: all 0.4s;
            opacity: 0;
        }

        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            flex-shrink: 0;
            margin-right: 16px;

            img {
                width: 100%;
            }
        }

        &:hover {
            background: $white-color;
            border-color: $brand-secondary;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
            color: $primary-text-color;

            &:after {
                opacity: 1;
            }
        }
    }
    &__text_and_column {
        display: flex;
        max-width: 1173px;
        margin: auto;
        padding: 40px 32px 80px;
        border-top: 1px dashed #DADADA;
        @media (max-width: 1260px) {
            max-width: 960px;
        }
        @media (max-width: 991px) {
            max-width: 720px;
            display: block;
        }
        @media (max-width: 767px) {
            max-width: 540px;
        }
        @media (max-width: 575px) {
            padding-left: 24px;
            padding-right: 24px;
        }
    }
    .container {
        padding: 80px 0 40px;
        max-width: 1173px;
        @media (max-width: 1260px) {
            max-width: 960px;
        }
        @media (max-width: 991px) {
            max-width: 720px;
        }
        @media (max-width: 767px) {
            max-width: 540px;
        }
        @media (max-width: 575px) {
            padding-left: 24px;
            padding-right: 24px;
        }
    }
}