.vil-program-info {
    $b: &;
    padding: 24px 0;
    @media (max-width: 991px) {
        padding: 24px 0 8px;
    }

    &__title {
        text-align: center;
        @extend %text-16;
        font-weight: 600;
        font-family: $font-family-mulish;
        letter-spacing: 0.02em;
        margin: 0 0 8px;
    }

    &__wrap {
        align-items: center;
        flex-wrap: wrap;
        @media (max-width: 991px) {
            flex-wrap: wrap;
            align-items: flex-start;
        }
    }
    &.style-4-columns {
        .vil-program-info__col {
            width: 25%;
            padding: 16px 0;
            @media (max-width: 991px) {
                width: 33.3%;
            }
            @media (max-width: 575px) {
                width: 50%;
            }
        }
    }
    &.style-5-icon-columns {
        .vil-program-info__col {
            width: 20%;
            padding: 10px 0;
            &:first-child {
                border-left: none;
            }
            @media (max-width: 991px) {
                width: 33.3%;
            }
            @media (max-width: 575px) {
                width: 50%;
            }
        }
    }
    &.style-description-and-4-icon-columns {
        .vil-program-info__description {
            width: 30%;
            display: flex;
            align-self: center;
            font-weight: 500;
            @media (max-width: 767px) {
                width: 100%;
                justify-content: center;
            }
        }
        .vil-program-info__description-and-col {
            width: 70%;
            @media (max-width: 767px) {
                width: 100%;
            }
        }
        .vil-program-info__col {
            padding: 10px 0;
            @media (max-width: 991px) {
                width: 33.3%;
            }
            @media (max-width: 575px) {
                width: 50%;
            }
        }
    }

    &.style-description-and-4-icon-columns {
        #{$b}__wrap {
            flex-wrap: nowrap;
            @media (max-width: 991px) {
                flex-wrap: wrap;
                justify-content: center;
            }
        }

        #{$b}__description {
            flex: 0 0 100%;
            padding-right: 0;
            @media (max-width: 991px) {
                justify-content: center;
            }
        }

        #{$b}-info__col {
            flex: 0 0 50%;
        }
    }

    &__col {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        @extend %text-16;
        font-weight: 600;
        letter-spacing: 0.01em;
        color: $grey-text-color;
        padding: 4px 0;
        position: relative;
        flex-grow: 1;
        @media (max-width: 991px) {
            width: 50%;
            flex-shrink: 0;
            flex-grow: 0;
            margin: 16px 0;
        }

        &:first-child {
            &:after {
                display: none;
            }
        }

        &:after {
            content: '';
            display: block;
            width: 0;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-left: 1px solid $border-light-gray;

            @media (max-width: 991px) {
                display: none;
            }
        }

        &-icon {
            height: 33px;
            margin: 0 0 8px;

            img,
            svg {
                vertical-align: top;
                height: 33px;
                width: auto;
            }
        }
    }
    &__description {
        max-width: 340px;
        padding-right: 50px;
        @media (max-width: 991px) {
            max-width: none;
            margin: 0 auto 15px;
            text-align: center;
        }
        @media (max-width: 767px) {
            width: 100%;
            padding-right: 0;
        }
        &-and-col {
            display: flex;
            width: 100%;
            
            @media (max-width: 991px) {
                flex-wrap: wrap;
                justify-content: center;
            }

            .vil-program-info__col {
                width: 25%;
                @media (max-width: 1260px) {
                    padding: 4px 5px;
                }
                @media (max-width: 767px) {
                    width: 50%;
                }
                &:first-child {
                    border-left: 1px solid $border-light-gray;
                    @media (max-width: 991px) {
                        border-left: none;
                    }
                }
            }
        }
    }
}

