.vil-programs {
    padding: 80px 0 60px;
    @media (max-width: 991px) {
        padding: 64px 0 40px;
    }
    @media (max-width: 575px) {
        padding: 48px 0;
    }

    &__top {
        text-align: center;
        max-width: 800px;
        margin: 0 auto 48px;
        .vil-courses__title {
            font-weight: 600;
        }

        @media(max-width: 575px) {
            margin-bottom: 25px;
        }
    }
    &__head {
        text-align: center;
        @media (max-width: 575px) {
            text-align: left;
        }

        .vil-block__title,
        .vil-block__subtitle {
            @media (max-width: 575px) {
                text-align: left;
            }
        }
        .vil-block__subtitle {
            @media (max-width: 575px) {
                font-size: 18px;
                line-height: 28px;
            }
        }
    }
}

.vil-card-program {
    height: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 0px rgba($black-color, 0.1);
    transition: all 0.25s;
    @media (max-width: 767px) {
        padding: 20px 16px 16px;
    }

    &:hover {
        border-color: $brand-secondary;
        box-shadow: 0px 0px 12px rgba($black-color, 0.1);
    }

    &__wrap {
        display: flex;
        align-items: flex-start;
        margin: 0 0 12px;
        height: 100%;
    }

    &__content {
        flex-grow: 1;
    }

    &__title {
        @extend %text-18;
        font-weight: 600;
        margin: 4px 0 16px;

        a {
            @extend %text-18;
            font-weight: 600;
            margin: 0;
            text-decoration: none;
            color: $primary-text-color;
        }
    }

    &__info {
        margin: 0 0 6px;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;

        &-item {
            display: flex;
            align-items: center;
            @extend %text-14;
            font-weight: 600;
            line-height: 18px;
            letter-spacing: 0.01em;
            margin: 0 16px 6px 0;

            &:last-child {
                margin-right: 0;
            }

            .icon {
                display: block;
                flex-shrink: 0;
                height: 18px;
                margin-right: 6px;

                img {
                    height: 18px;
                    width: auto;
                }
                
                svg {
                    vertical-align: top;
                    height: 100%;
                }
            }
        }
    }

    &__description {
        p {
            @extend %text-14;
            font-weight: 500;
            margin: 0;
        }

        &-label {
            color: $green-color2;
            border: 1px solid $green-color2;
            border-radius: 12px;
            padding: 6px 10px;
            display: inline-block;
            font-weight: 800;
            font-size: 10px;
            line-height: 10px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            margin-top: 12px;
            margin-bottom: 12px;
        }
    }

    &__image {
        width: 180px;
        height: 180px;
        flex-shrink: 0;
        border-radius: 3px;
        overflow: hidden;
        position: relative;
        margin-left: 24px;
        height: 100%;
        @media (max-width: 1259px) {
            height: 200px;
        }
        @media (max-width: 767px) {
            width: 160px;
            height: 160px;
            margin-left: 20px;
        }
        @media (max-width: 575px) {
            margin: 16px 0 12px;
            width: 100%;
            padding-bottom: 54.2%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @media (max-width: 575px) {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

    &__footer {
        display: flex;
        @media (max-width: 575px) {
            flex-direction: column;
        }

        &-select {
            $s: &;
            flex-grow: 1;

            max-height: 41px;
            border-radius: 4px;
            background-color: $light-gray-color2;
            overflow: hidden;
            position: relative;
            transition: all 0.25s ease;

            &-button {
                font-family: $font-family-montserrat;
                font-weight: 600;
                font-size: 12px;
                line-height: 1;
                padding: 16px 12px;
                margin-bottom: -3px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                cursor: pointer;

                svg {
                    transition: all 0.25s ease;
                    transform-origin: center;
                }
            }

            &-content {
                background-color: $light-gray-color2;
                font-family: $font-family-montserrat;
                font-weight: normal;
                font-size: 12px;
                line-height: 22px;
                padding: 0 12px 12px;
                min-height: 105px;
                position: absolute;
                left: 0;
                width: 100%;
            }

            &.active {
                overflow: visible;
                top: calc(-100% - 65px);

                @media (max-width: 575px) {
                    top: -105px;
                }

                #{$s}-button {
                    svg {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        &-btn {
            width: 180px;
            flex-shrink: 0;
            margin-left: 24px;

            @media (max-width: 767px) {
                width: 160px;
                margin-left: 20px;
            }
            @media (max-width: 575px) {
                width: 100%;
                margin: 0;
            }

            .vil-btn {
                width: 100%;
                @media (max-width: 767px) {
                    padding-left: 5px;
                    padding-right: 5px;
                    font-size: 14px;
                    line-height: 19px;
                }
            }
        }
    }
}
