.vil-questions {
    padding-bottom: 80px;
    .col-lg-10:last-child .vil-accordion {
        margin-bottom: 0;
    }
    @media (max-width: 767px) {
        padding-bottom: 60px;
    }
}
.single-courses {
    .vil-questions {
        padding-top: 0;
    }
}