.vil-ready-to-enroll {
	$b: &;

	background-color: $brand-primary;
	border-radius: 6px;
	padding: 32px 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: space-between;


	p {
		margin: 0 40px 0 0;
		font-weight: 600;
		font-size: 20px;
		line-height: 30px;
		color: $white-color;
	}

	&__single {
		justify-content: center;
		p {
			margin-right: 0;
		}
	}

	&__space {
		padding-bottom: 80px;
		background-color: $light-color-background;
		width: 100%;

		&-light {
			padding-bottom: 80px;
			background-color: transparent;
		}
	}

	.vil-btn {
		white-space: nowrap;
	}

	@media(max-width: 768px) {
		flex-direction: column;
		text-align: center;

		p {
			margin-bottom: 25px;
			margin-right: 0;
		}

		#{$b}__single { 
			p {
				margin-bottom: 0;
			}
		}
	}
}