.vil-required {
    padding-top: 80px;

    @media (max-width: 575px) {
        padding-top: 50px;
    }

    &__title {
        @extend %h3;
        font-weight: 600;
        margin: 0 0 12px;
    }

    &__subtitle {
        @extend %text-18;
        font-family: $font-family-montserrat;
        font-weight: 500;
        color: $primary-text-color;
        padding: 4px 12px;
        margin: 0 0 32px;
        border-radius: 3px;
        width: fit-content;
        background-color: $grey-text-color-light-second;
    }
}
