.vil-reviews {
    padding: 80px 0;
    @media (max-width: 991px) {
        padding: 64px 0;
    }
    @media (max-width: 575px) {
        padding: 56px 0 36px;
    }

    &__wrap {
        position: relative;

        .swiper {
            width: 100%;
            max-width: 900px;
            margin: 0 auto;
            @media (max-width: 1260px) {
                max-width: 840px;
            }
            @media (max-width: 991px) {
                max-width: calc(100% - 60px);
            }
            @media (max-width: 767px) {
                max-width: none;
            }
        }
    }

    &__item {
        display: flex;
        align-items: center;
        @media (max-width: 767px) {
            flex-direction: column;
        }

        &-photo {
            width: 330px;
            flex-shrink: 0;
            margin-right: 40px;

            @media (max-width: 991px) {
                width: 270px;
                margin-right: 30px;
            }
            @media (max-width: 767px) {
                margin: 0 auto 24px;
            }
            @media (max-width: 575px) {
                width: 170px;
            }
        }

        &-content {
            flex-grow: 1;
            @media (max-width: 767px) {
                text-align: center;
            }
        }

        &-icon {
            display: block;
            width: 32px;
            margin: 0 0 12px;
            @media (max-width: 767px) {
                width: 28px;
                margin: 0 auto 12px;
            }

            img {
                width: 100%;
            }
        }

        &-title {
            @extend %h5;
            margin: 0 0 24px;
            @media (max-width: 991px) {
                margin: 0 0 16px;
            }
            @media (max-width: 767px) {
                font-size: 18px;
                line-height: 26px;
            }
            @media (max-width: 767px) {
                font-size: 16px;
                line-height: 24px;
            }
        }

        &-text {
            margin: 0 0 24px;
            @media (max-width: 991px) {
                margin: 0 0 16px;
            }

            p {
                @extend %text-16;
                letter-spacing: 0.02em;
                color: $grey-text-color;
                margin: 0 0 20px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &-author {
            @extend %text-14;
            font-weight: 700;
            letter-spacing: 0.02em;
            color: $grey-text-color;
        }
    }

    .swiper-reviews-next,
    .swiper-reviews-prev {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: 10;

        @media (max-width: 767px) {
            top: 130px;
            bottom: auto;
        }

        @media (max-width: 575px) {
            top: 93px;
        }
    }

    .swiper-reviews-next {
        right: 0;
        @media (max-width: 1260px) {
            right: -20px;
        }
        @media (max-width: 991px) {
            right: -30px;
        }
        @media (max-width: 767px) {
            right: 0;
        }
    }

    .swiper-reviews-prev {
        left: 0;
        @media (max-width: 1260px) {
            left: -20px;
        }
        @media (max-width: 991px) {
            left: -30px;
        }
        @media (max-width: 767px) {
            left: 0;
        }
    }
}
