.vil-search {
    &__category-wrap {
        padding-bottom: 14px;
        @media (max-width: 991px) {
            overflow-x: scroll;
        }
    }
    &__category {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $border-color;
        margin-top: 9px;
        @media (max-width: 575px) {
            margin-bottom: 0;
        }

        &-link {
            display: block;
            flex-shrink: 0;
            margin-right: 32px;
            color: $dark-grey;
            padding-bottom: 13px;
            text-decoration: none;
            @extend %text-16;
            font-family: $font-family-montserrat;
            font-weight: 500;
            position: relative;
            transition: all 0.25s;

            &.active {
                text-shadow: 0.5px 0px 0px $dark-grey;
                color: $brand-primary;
                text-decoration: none;

                &:after {
                    opacity: 1;
                }
            }

            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 0;
                border-bottom: 2px solid $grey-text-color-light;
                position: absolute;
                left: 0;
                bottom: 0;
                opacity: 0;
                transition: all 0.25s;
            }

            &:focus,
            &:hover,
            &:active {
                text-shadow: 0.5px 0px 0px $dark-grey;
                color: $brand-primary;
                text-decoration: none;

                &:after {
                    opacity: 1;
                }
            }
        }
    }

    &__card {
        padding: 24px 0;
        border-bottom: 1px solid $border-color;

        &-title {
            color: $brand-primary;
            @extend %h5;
            font-weight: 700;

            &:focus,
            &:active,
            &:hover {
                text-decoration: none;
                cursor: pointer;
                color: $brand-secondary;
            }
        }

        &-text {
            margin: 12px 0;
            @extend %text-18;
            font-family: $font-family-mulish;
            line-height: 28px;
            @media (max-width: 575px) {
                font-size: 16px;
                line-height: 24px;
            }
        }

        &-info {
            font-size: 12px;
            display: flex;
            align-items: center;

            &-text {
                margin: 0 8px 0 0;
                color: $dark-grey;
                min-width: fit-content;
            }

            &-category {
                color: $primary-text-color;
                font-weight: 600;
                padding: 4px 8px;
                background-color: $background-primary;
                border-radius: 3px;

                &-date {
                    color: $primary-text-color;
                    font-weight: 600;
                    padding: 4px 8px;
                    background-color: $grey-text-color-light-second;
                    border-radius: 3px;
                    min-width: max-content;

                    &:focus,
                    &:active,
                    &:hover {
                        color: $brand-secondary;
                        text-decoration: none;
                    }
                }

                &:focus,
                &:active,
                &:hover {
                    color: $brand-secondary;
                }

                &-wrap {
                    margin: 0 5px 10px 0;
                }

                &-cont {
                    width: -webkit-fill-available;
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: -10px;
                }

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    &__select {
        .select-wrap {
            width: 100%;
            @media (max-width: 991px) {
                margin-top: 30px;
                width: 100%;
            }
        }
    }
}
