.vil-simw {
	$b: &;
	padding-bottom: 24px;

	&-two {
		#{$b}__item {
			flex-direction: column;
			gap: 16px;
			flex: 0 1 50%;
			&-image {
				max-width: none;
				flex: 0 0 auto;
				margin-right: 16px;

				img {
					height: 96px;
					width: auto;
				}
			}

			&-title {
				margin-bottom: 0;
			}
		}

		#{$b}__wrap {
			display: flex;
			flex-direction: row;
			gap: 28px;
			
			@media(max-width: 768px) {
				flex-direction: column;
			}
		}
	} 

	&__item {
		border: 1px solid $border-color;
		border-radius: 6px;
		padding: 24px;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 24px;

		@media(max-width: 575px) {
			flex-direction: column;
			align-items: flex-start;

			// #{$b}__item-image {
			// 	flex: 1;
			// }
		}

		&-head {
			display: flex;
			align-items: center;
			flex-direction: row;
			justify-content: flex-start;
			width: 100%;
		}

		&-title {
			color: $brand-primary;
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 8px;
			font-weight: 600;
			font-family: $font-family-montserrat;
		}

		&-body {
			p {
				color: $primary-text-color;
				font-size: 16px;
				line-height: 24px;
				margin: 0;
			}
		}

		&-image {
			max-width: 160px;
			flex: 0 0 160px;

			img {
				width: 100%;
				height: auto;
				display: block;
			}
		}
	}
}