.vil-thank-you {
	&__buttons {
		@media (max-width: 991px) {
			max-width: 470px;
			margin: auto;
		}
		@media (max-width: 575px) {
			max-width: inherit;
		}
	}
	&__main {
		max-width: 972px;
		margin: auto;
	}
	&__title {
		font-weight: 700;
		color: $brand-primary;
		margin-bottom: 14px;
		@media (max-width: 991px) {
			margin-bottom: 10px;
		}
		@media (max-width: 767px) {
			&:not(.vil-thank-you__title-desktop) {
				display: none;
			}
		}
	}
	&__title-mobile {
		font-weight: 700;
		color: $brand-primary;
		margin-bottom: 40px;
		font-size: 36px;
		@media (min-width: 767px) {
			display: none;
		}
	}
	&__subtitle {
		margin-bottom: 24px;
		@media (max-width: 991px) {
			font-weight: 600;
			margin-bottom: 15px;
		}
		@media (max-width: 767px) {
			font-size: 26px;
			margin-top: 32px;
		}
	}
	&__text {
		letter-spacing: 0.02em;
		@media (max-width: 991px) {
			margin-bottom: 15px;
		}
	}
	&__content {
		margin-bottom: 64px;
		&-text {
			align-self: center;
		}
		a {
			&:nth-child(1) {
				img {
					margin-left: 8px;
					@media (min-width: 767px) {
						display: none;
					}
				}
			}
		}
		@media (max-width: 767px) {
			text-align: center;
			margin-bottom: 48px;
			a {
				&:nth-child(1) {
					margin-right: 0;
					display: flex;
					align-items: center;
				}
				&:nth-child(2) {
					display: none;
				}
			}
		}
		@media (max-width: 575px) {
			margin-bottom: 32px;
		}
		.vil-hero__btns {
			@media (max-width: 991px) {
				margin: 0;
			}

			@media (max-width: 767px) {
				justify-content: center;
				flex-direction: inherit;
			}

			.vil-btn {
				&_primary {
					&:hover {
						background-color: $brand-primary;
						border-color: $brand-primary;
						color: $white-color;
					}
				}
			}
		}
	}
	&__btn-contact {
		width: 226px;
		border: 1px solid $white-grey-color;
		display: flex;
		padding: 17px 17px 17px 20px;
		align-items: center;
		justify-content: center;
		border-radius: 6px;
		height: 100%;
		@media (max-width: 991px) {
			margin: 0 auto 15px;
		}
		@media (max-width: 991px) {
			margin: 0 auto 10px;
			justify-content: left;
		}
		@media (max-width: 575px) {
			width: 100%;
		}
		&-text {
			@extend %text-16;
			margin: 0 0 0 12px;
			color: $primary-text-color;
			font-weight: 600;
		}
		&:hover,
		&:focus,
		&:active {
			text-decoration: none;
			transition: .2s;
			cursor: pointer;
			border: 1px solid $brand-primary;
		}

		&_wrap {
			height: 100%;
		}
	}
}