.vil-vebinar {
    &__title {
        font-weight: 600;
        margin: 24px 0;
    }
    &__main {
        max-width: 723px;
        h2, h3, h4, h5, h6 {
            margin-bottom: 24px;
        }
    }
    &__post_thumbnail {
        margin-bottom: 24px;
    }
    &__register {
        &-title {
            @extend %text-22;
            color: $brand-primary;
            font-weight: 600;
            font-family: $font-family-montserrat;

            &.closed {
                margin: 0;
            }
        }

        &-info {
            padding: 24px;
            border: 1px solid $white-grey-color;
            border-radius: 3px;
            margin-bottom: 24px;
            font-family: $font-family-montserrat;

            &-wrap {
                display: flex;
                margin-bottom: 25px;
                align-items: center;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &-text {
                margin: 0;
                margin-left: 12px;
                font-weight: 600;
                color: $brand-primary;
            }
        }

        &-form {
            padding: 24px;
            border: 1px solid $white-grey-color;
            border-radius: 3px;

            &-btn {
                line-height: 22px;
                background-color: $brand-secondary;
                border: 1px solid $brand-secondary;
                color: #fff;
                padding: 13px 23px;
                border-radius: 3px;
                display: flex;
                justify-content: center;
                margin-top: 26px;
                transition: 0.2s;
                font-size: 14px;
                font-weight: 600;
                font-family: $font-family-montserrat;
                width: 100%;

                &:focus,
                &:hover,
                &:active {
                    opacity: 0.9;
                    text-decoration: none;
                    color: $white-color;
                }

                @media (max-width: 575px) {
                    margin-top: 16px;
                }
            }

            &-wrap {
                display: grid;
                margin-bottom: 14px;

                &-label {
                    font-size: 14px;
                    font-weight: 700;
                    font-family: $font-family-mulish;
                    margin-bottom: 2px;

                    &:after {
                        content: '*';
                        color: $red-color;
                        margin-left: 4px;
                        display: inline-block;
                    }

                    @media (max-width: 575px) {
                        margin-bottom: 2px;
                    }
                }

                &-input {
                    background: $white-color;
                    border: 1px solid $border-color-second;
                    border-radius: 4px;
                    padding: 5px 12px;

                    &:focus {
                        border-color: $brand-primary;
                    }
                }
            }
        }
    }

    &__speakers {
        &-title {
            text-align: center;
            margin-bottom: 45px;
            font-family: $font-family-montserrat;
            font-weight: 600;
            @media (max-width: 575px) {
                font-size: 22px;
                font-weight: 600;
                margin-bottom: 30px;
            }
        }

        &-card {
            text-align: center;
            max-width: 264px;
            margin: auto;
            @media (max-width: 767px) {
                margin-bottom: 30px;
            }
            @media (max-width: 575px) {
                margin: 0 auto 30px;
            }

            &-name {
                @extend %text-18;
                font-family: $font-family-montserrat;
            }

            &-image {
                border-radius: 50%;
                border: 4.3px solid $brand-primary;
                margin-bottom: 14px;
            }

            &-name {
                @extend %text-18;
                font-weight: 600;
                margin-bottom: 8px;
                @media (max-width: 575px) {
                    margin-bottom: 4px;
                }
            }

            &-link {
                &:focus,
                &:hover,
                &:active {
                    color: $brand-secondary;
                }
            }

            &-socials {
                max-width: 52px;
                margin: 0 auto 8px;
                text-align-last: justify;

                &-link {
                    max-width: 18px;
                    transition: 0.2s;

                    &:focus,
                    &:hover,
                    &:active {
                        text-decoration: none;
                        opacity: 0.8;
                    }
                }
            }

            &-text {
                margin-bottom: 5px;
            }

            &-link {
                @extend %text-14;
                color: $primary-text-color;
                font-weight: 600;
                transition: 0.2s;
            }

        }

        &-wrap {
            @media (max-width: 575px) {
                margin-bottom: -30px;
            }

            .col-xl-10 .row {
                justify-content: center;
            }
        }
    }
}