@import "./../node_modules/bootstrap/scss/functions";


$grid-breakpoints: (
		xs: 0,
		sm: 576px,
		md: 768px,
		lg: 992px,
		xl: 1260px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");


$container-max-widths: (
		sm: 540px,
		md: 720px,
		lg: 960px,
		xl: 1200px
) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");



@import "./../node_modules/bootstrap/scss/variables";

@import "./../node_modules/bootstrap/scss/mixins";
@import "./../node_modules/bootstrap/scss/grid";

// utilities
@import "./../node_modules/bootstrap/scss/utilities/align";
@import "./../node_modules/bootstrap/scss/utilities/clearfix";
@import "./../node_modules/bootstrap/scss/utilities/display";
@import "./../node_modules/bootstrap/scss/utilities/flex";
@import "./../node_modules/bootstrap/scss/utilities/float";
@import "./../node_modules/bootstrap/scss/utilities/overflow";
@import "./../node_modules/bootstrap/scss/utilities/position";
@import "./../node_modules/bootstrap/scss/utilities/sizing";

// Alignment
.text-wrap     { white-space: normal !important; }
.text-nowrap   { white-space: nowrap !important; }
.text-truncate { @include text-truncate(); }

// Responsive alignment

@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);

		.text#{$infix}-left   	{ text-align: left !important; }
		.text#{$infix}-right  	{ text-align: right !important; }
		.text#{$infix}-center 	{ text-align: center !important; }
		.text#{$infix}-justify 	{ text-align: justify !important; }

	}
}

// Transformation
.text-lowercase  { text-transform: lowercase !important; }
.text-uppercase  { text-transform: uppercase !important; }
.text-capitalize { text-transform: capitalize !important; }

// Misc
.text-hide {
	@include text-hide($ignore-warning: true);
}

.text-decoration-none { text-decoration: none !important; }

.text-break {
	word-break: break-word !important; // IE & < Edge 18
	overflow-wrap: break-word !important;
}

// Reset
.text-reset { color: inherit !important; }


@import "./../node_modules/bootstrap/scss/utilities/visibility";
