@import "variables";

%h {
    clear: both;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-weight: 700;
    font-family: $font-family-montserrat;

    &:first-child {
        padding-top: 0;
    }
}

%h1 {
    font-size: rem(40);
    line-height: rem(56);
    font-weight: 500;
    @media (max-width: 991px) {
        font-size: rem(38);
        line-height: rem(50);
    }
    @media (max-width: 575px) {
        font-size: rem(36);
        line-height: rem(44);
    }
}
%h2 {
    font-size: rem(32);
    line-height: rem(44);
    @media (max-width: 991px) {
        font-size: rem(30);
        line-height: rem(38);
    }
    @media (max-width: 575px) {
        font-size: rem(28);
        line-height: rem(36);
    }
}
%h3 {
    font-size: rem(28);
    line-height: rem(36);
}
%h4 {
    font-size: rem(26);
    line-height: rem(34);
}
%h5 {
    font-size: rem(24);
    line-height: rem(32);
    @media (max-width: 575px) {
        font-size: rem(22);
    }
}
%h6 {
    font-size: rem(20);
    line-height: rem(30);
    @media (max-width: 991px) {
        font-size: rem(20);
    }
    @media (max-width: 575px) {
        font-size: rem(18);
    }
}


%text-22 {
    font-size: 22px;
    line-height: 30px;
    @media(max-width: 575px) {
        font-size: 18px;
    }
}

%text-18 {
    font-size: 18px;
    line-height: 26px;
}

%text-18-v2 {
    font-size: 18px;
    line-height: 24px;
    @media(max-width: 575px) {
        font-size: 16px;
        font-weight: 400!important;
    }
}

%text-16 {
    font-size: 16px;
    line-height: 24px;
    @media(max-width: 575px) {
        font-size: 14px;
    }
}

%text-16-v2 {
    font-size: 16px;
    line-height: 22px;
}

%text-14 {
    font-size: 14px;
    line-height: 22px;
}

%text-14-v2 {
    font-size: 14px;
    line-height: 16px;
}

