@import "variables";

.vil-footer {
    padding: 80px 0;
    background-color: $secondary-text-color;
    @media (max-width: 991px) {
        padding: 64px 0;
    }

    $footer: &;

    &__top {
        align-items: flex-start;
        justify-content: space-between;
        @media (max-width: 767px) {
            flex-direction: column;
            margin-bottom: 30px;
        }
        @media (max-width: 575px) {
            margin-bottom: 14px;
        }
    }

    &__btns {

        @media (max-width: 767px) {
            flex-wrap: wrap;
        }
        @media (max-width: 575px) {
            flex-direction: column;

        }

        .vil-btn {
            margin-left: 16px;
            @media (max-width: 575px) {
                margin-left: 0;
                margin-bottom: 16px;
            }

            &:first-child {
                @media (max-width: 767px) {
                    margin-left: 0;
                }
            }
        }
    }

    &__logo {
        display: block;
        width: 247px;
        margin: 0 0 30px;

        img {
            width: 100%;
        }
    }

    &__contact-list {
        padding-bottom: 24px;
        flex-wrap: wrap;
        @media (max-width: 575px) {
            flex-direction: column;
            align-items: flex-start !important;
        }
    }

    &__contact {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 15px;
        line-height: 22px;
        color: $primary-text-color;
        text-decoration: none;
        transition: all 0.4s;
        padding: 8px 12px;
        margin-right: 8px;
        margin-bottom: 8px;
        border: 1px solid transparent;
        border-radius: 6px;

        &:last-child {
            margin-right: 0;
        }

        span {
            display: block;
            height: 14px;
            width: 14px;
            margin-right: 8px;

            svg {
                vertical-align: top;
                height: 100%;
                width: 100%;
            }
        }

        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            border-color: $brand-secondary;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
            background-color: $white-color;
            color: $primary-text-color;
        }
    }

    &__nav {
        justify-content: space-between;
        padding: 32px 0;
        border-top: 1px solid $white-grey-color;
        border-bottom: 1px solid $white-grey-color;
        @media (max-width: 991px) {
            flex-wrap: wrap;
            padding-bottom: 0;
        }
        @media (max-width: 575px) {
            padding-bottom: 8;
        }

        &-title {
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            font-family: $font-family-montserrat;
            letter-spacing: 0.01em;
            margin: 0 0 20px;
            @media (max-width: 1260px) {
                font-size: 14px;
            }
        }

        &-col {
            flex-shrink: 0;
            @media (max-width: 991px) {
                margin-bottom: 48px;
            }
            @media (max-width: 575px) {
                margin-bottom: 0;
            }

            &:nth-child(1) {
                width: 250px;
                @media (max-width: 1260px) {
                    width: 230px;
                }
                @media (max-width: 991px) {
                    width: 45%;
                }
                @media (max-width: 575px) {
                    width: 100%;
                }
            }

            &:nth-child(2) {
                width: 250px;
                @media (max-width: 1260px) {
                    width: 230px;
                }
                @media (max-width: 991px) {
                    width: 45%;
                }
                @media (max-width: 575px) {
                    width: 100%;
                }
            }

            &:nth-child(3) {
                width: 170px;
                @media (max-width: 1260px) {
                    width: 160px;
                }
                @media (max-width: 991px) {
                    width: 31%;
                }
                @media (max-width: 767px) {
                    width: 34%;
                }
                @media (max-width: 575px) {
                    width: 100%;
                }
            }

            &:nth-child(4) {
                width: 140px;
                @media (max-width: 1260px) {
                    width: 120px;
                }
                @media (max-width: 991px) {
                    width: 31%;
                }
                @media (max-width: 767px) {
                    width: 34%;
                }
                @media (max-width: 575px) {
                    width: 100%;
                }
            }

            &:nth-child(5) {
                width: 145px;
                @media (max-width: 1260px) {
                    width: 130px;
                }
                @media (max-width: 991px) {
                    width: 31%;
                }
                @media (max-width: 767px) {
                    width: 28%;
                }
                @media (max-width: 575px) {
                    width: 100%;
                }

                #{$footer}__menu {
                    @media (max-width: 575px) {
                        border-bottom: none;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    &__menu {
        list-style: none;
        padding: 0;
        margin: 0;
        @media (max-width: 575px) {
            padding-bottom: 24px;
            margin-bottom: 24px;
            border-bottom: 1px solid $white-grey-color;
        }

        & > li {
            margin-bottom: 12px;
            @media (max-width: 991px) {
                margin-bottom: 8px;
            }
            @media (max-width: 575px) {
                margin-bottom: 16px;
            }

            &:last-child {
                margin-bottom: 0;
            }

            & > a {
                text-decoration: none;
                @extend %text-14;
                font-weight: 600;
                letter-spacing: 0.02em;
                color: $dark-grey;
                transition: all 0.4s;
                @media (max-width: 1260px) {
                    font-size: 13px;
                }
                @media (max-width: 575px) {
                    font-size: 14px;
                }

                &:hover,
                &:focus,
                &:active {
                    text-decoration: none;
                    color: $brand-primary;
                }
            }
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        padding-top: 32px;
        @media (max-width: 575px) {
            flex-direction: column;
            align-items: flex-start;
        }

        p {
            font-weight: 600;
            font-size: 15px;
            line-height: 19px;
            color: $dark-grey;
            margin: 0;
            @media (max-width: 575px) {
                margin: 0 0 16px;
            }
        }

        &-menu {
            display: flex;
            align-items: center;
            list-style: none;
            padding: 0;
            margin: 0 0 0 32px;
            @media (max-width: 575px) {
                flex-direction: column;
                align-items: flex-start;
                margin: 0;
            }

            & > li {
                margin-right: 32px;
                @media (max-width: 767px) {
                    margin-right: 14px;
                }
                @media (max-width: 575px) {
                    margin-right: 0;
                    margin-bottom: 16px;
                }

                &:last-child {
                    margin-right: 0;
                }

                & > a {
                    @extend %text-14;
                    font-weight: 600;
                    letter-spacing: 0.02em;
                    color: $dark-grey;
                    text-decoration: none;
                    transition: all 0.4s;

                    &:hover,
                    &:focus,
                    &:active {
                        text-decoration: none;
                        color: $brand-primary;
                    }
                }
            }
        }
    }
}
