@import "variables";


body {
    font-family: $base-font-family;
    color: $primary-text-color;

    &.post-type-archive-courses {
        background: $white-gradient;

        .vil-ready-to-enroll__space {
            background-color: transparent;
        }
    }
}

.container-fluid {
    max-width: 1512px;
    padding: 0 40px;
    @media (max-width: 1300px) {
        padding: 0 24px;
    }
}

.container {
    @media (max-width: 575px) {
        padding: 0 24px;
    }
}

.modal-open {
    overflow: hidden;
}

.vil-main-title {
    @extend %h1;

    span {
        color: $brand-secondary;
    }
}

.vil-main-date {
    @extend %text-18;
    color: $orange-color;
    font-family: $font-family-montserrat;
    font-weight: 600;
}
.vil-block-vebinar {
    padding: 72px 0;
    @media (max-width: 991px) {
        padding: 60px 0;
    }
    @media (max-width: 575px) {
        padding: 45px 0;
    }

    &.vil-vebinar__speakers {
        padding: 70px 0 25px;
        @media (max-width: 575px) {
            padding: 60px 0 0;
        }
    }
}
.vil-block {
    padding: 80px 0;
    @media (max-width: 991px) {
        padding: 60px 0;
    }
    @media (max-width: 575px) {
        padding: 45px 0;
    }

    &.vil-vebinar__speakers {
        padding: 70px 0 105px;
        @media (max-width: 575px) {
            padding: 60px 0 0;
        }
    }

    $block: &;

    &__title {
        @extend %h2;
        font-family: $font-family-montserrat;
        font-weight: 600;
        text-align: center;
        margin: 0 0 60px;

        & + #{$block}__subtitle {
            margin-top: -44px;

            @media (max-width: 767px) {
                margin-top: -16px;
            }
        }

        @media (max-width: 767px) {
            margin: 0 0 32px;
        }

        &.text-left {
            text-align: left;
            @media (max-width: 991px) {
                text-align: center;
            }
        }

        &.title-md-center {
            @media (max-width: 767px) {
                text-align: center !important;
            }
        }

        &.text-left {
            text-align: left;
            @media (max-width: 991px) {
                text-align: center;
            }
        }
    }

    &__subtitle {
        @extend %text-18;
        letter-spacing: 0.02em;
        font-family: $font-family-montserrat;
        text-align: center;
        margin: 0 0 48px;
        @media (max-width: 767px) {
            margin: 0 0 32px;
        }
        @media (max-width: 575px) {
            font-size: 16px;
            line-height: 24px;
        }
    }
}

.vil-card {
    background: $white-color;
    border: 1px solid $border-color;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

.vil-btn {
    display: block;
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-family: $font-family-montserrat;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    padding: 0;
    outline: none;
    width: fit-content;
    text-align: center;
    transition: all 0.4s;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        outline: none;
    }

    &_primary {
        @extend %text-18;
        line-height: 22px;
        background-color: $brand-secondary;
        border: 1px solid $brand-secondary;
        color: $white-color;
        padding: 13px 23px;
        border-radius: 200px;
        align-self: center;

        .icon {
            svg {
                path {
                    fill: $white-color;
                }
            }
        }

        &:hover,
        &:focus,
        &:active {
            background-color: $brand-secondary-hover;
            border-color: $brand-secondary-hover;
            color: $white-color;
        }
    }

    &_brand {
        @extend %text-18;
        line-height: 22px;
        background-color: #003366;
        border: 1px solid #003366;
        color: $white-color;
        padding: 13px 23px;
        border-radius: 200px;

        &:hover,
        &:focus,
        &:active {
            background-color: $brand-primary;
            border: 1px solid $brand-primary;
            color: $white-color;
        }
    }

    &_secondary {
        @extend %text-18;
        line-height: 22px;
        background-color: transparent;
        border: 1px solid $white-color;
        color: $white-color;
        padding: 13px 23px;
        border-radius: 200px;

        &:hover,
        &:focus,
        &:active {
            background-color: $white-color;
            color: $brand-primary;
        }
    }

    &_third {
        @extend %text-18;
        line-height: 22px;
        font-weight: 500;
        background-color: transparent;
        border: 1px solid $brand-primary;
        color: $brand-primary;
        padding: 13px 23px;
        border-radius: 200px;

        &:hover,
        &:focus,
        &:active {
            background-color: #003366;
            border-color: #003366;
            color: $white-color;
        }
    }

    &_gray {
        @extend %text-18;
        line-height: 22px;
        font-weight: 500;
        background-color: transparent;
        border: 1px solid $dark-grey;
        color: $dark-grey;
        padding: 13px 23px;
        border-radius: 200px;

        &:hover,
        &:focus,
        &:active {
            background-color: $brand-primary;
            border-color: $brand-primary;
            color: $white-color !important;
        }
    }

    &_icon {
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
            display: block;
            flex-shrink: 0;
            margin-left: 12px;
            width: 12px;
            height: 12px;

            svg {
                width: 100%;
                height: 100%;
                vertical-align: top;
                path {
                    transition: all 0.4s;
                }
            }
        }
    }

    &_form {
        font-weight: 600;
        @extend %text-14;
        line-height: 19px;
        padding: 10px 23px;
        border-radius: 3px;

        &:hover {
            background-color: $brand-primary;
            border-color: $brand-primary;
        }
    }

    &_small {
        font-size: 16px;
        line-height: 20px;
        padding: 11px 23px;
    }

    &_xsmall {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        font-family: $font-family-mulish;
        padding: 7px 15px;
    }

    &.w-100 {
        width: 100%;
    }
}

.swiper-button-next,
.swiper-button-prev {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    box-shadow: none;

    @media (max-width: 767px) {
        width: 45px;
        height: 45px;
    }

    svg {
        vertical-align: top;
        @media (max-width: 767px) {
            width: 9px;
        }
    }
}

.swiper-pagination {
    &-bullets {
        display: flex;
        align-items: center;
        width: fit-content;
    }

    &-bullet {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 1px solid $brand-secondary;
        opacity: 1;
        transition: all 0.4s;
        outline: none;
        box-shadow: none;
        background: transparent;
        margin: 0 8px;

        &:hover {
            background: $brand-secondary;
        }

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &-bullet-active {
        background: $brand-secondary;
    }
}

.swiper-scrollbar {
    height: 8px;
    width: 100%;
    background: $secondary-text-color;
    border-radius: 200px;

    &-drag {
        height: 8px;
        background: $dark-grey;
        border-radius: 200px;
    }
}

.select2-dropdown {
    &--below,
    &--above {
        @media (min-width: 768px) {
            //top: 32px !important;
        }
    }
}

.vil-field {
    margin: 0 0 20px;
    position: relative;

    &.field_select {
        margin: 0;

        .select2-container {
            box-sizing: border-box;
            height: 41px !important;
            border: none;
            border-radius: 0;

            &:focus, &:active {
                outline: none;
                box-shadow: none;
            }

            &.select2-container--open, &.select2-container--focus {
                outline: none;
                box-shadow: none;
            }

            &.select2-container--open {
                .select2-selection__arrow {
                    transform: rotate(0deg);
                }
            }

            .select2-selection--single {
                background-color: $light-gray-color;
                border: none;
                box-sizing: border-box;
                height: 41px !important;
                border-radius: 4px !important;

                &[aria-expanded="true"] {

                    .select2-selection__arrow b {
                        transform: rotate(0deg);
                    }
                }

                &:focus, &:active {
                    outline: none;
                    box-shadow: none;
                }
            }

            .select2-selection__rendered {
                height: 39px;
                line-height: 39px !important;
                font-weight: 600;
                font-size: 12px;
                display: flex;
                letter-spacing: 0.01em;
                color: $primary-text-color !important;
                padding-left: 12px !important;
                padding-right: 24px;
                text-align: left;
            }

            .select2-selection__placeholder {
                color: $primary-text-color !important;
            }

            .select2-selection__arrow {
                width: 10px !important;
                height: 6px !important;
                top: 0;
                right: 12px !important;
                bottom: 0;
                margin: auto;
                background-image: url("../img/select-arrow.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                transform: rotate(180deg);

                b {
                    display: none;
                }
            }
        }
    }

    &.filter_select {
        margin: 0;

        .select2-container {
            box-sizing: border-box;
            height: 48px !important;
            border: none;
            border-radius: 0;

            &:focus, &:active {
                outline: none;
                box-shadow: none;
            }

            &.select2-container--open, &.select2-container--focus {
                outline: none;
                box-shadow: none;
            }

            &.select2-container--open {
                .select2-selection__arrow {
                    transform: rotate(0deg);
                }
            }

            .select2-selection--single {
                background-color: $white-color;
                border: none;
                box-sizing: border-box;
                height: 48px !important;
                border-radius: 3px !important;

                &[aria-expanded="true"] {

                    .select2-selection__arrow b {
                        transform: rotate(0deg);
                    }
                }

                &:focus, &:active {
                    outline: none;
                    box-shadow: none;
                }
            }

            .select2-selection__rendered {
                height: 48px;
                line-height: 48px !important;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                font-family: $font-family-montserrat;
                display: flex;
                letter-spacing: 0.01em;
                color: $brand-primary !important;
                padding-left: 12px !important;
                padding-right: 34px;
                text-align: left;
            }

            .select2-selection__placeholder {
                color: $brand-primary !important;
            }

            .select2-selection__arrow {
                width: 14px !important;
                height: 10px !important;
                top: 0;
                right: 12px !important;
                bottom: 0;
                margin: auto;
                background-image: url("../img/select-arrow-black.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                transform: rotate(180deg);

                b {
                    display: none;
                }
            }
        }
    }

    &.modal_select {
        .select2-container {
            box-sizing: border-box;
            height: 36px !important;
            border: none;
            border-radius: 0;

            &:focus, &:active {
                outline: none;
                box-shadow: none;
            }

            &.select2-container--open, &.select2-container--focus {
                outline: none;
                box-shadow: none;
            }

            &.select2-container--open {
                .select2-selection__arrow {
                    transform: rotate(180deg);
                }
            }

            .select2-selection--single {
                background-color: $white-color;
                border: 1px solid #A9A9A9;
                box-sizing: border-box;
                height: 36px !important;
                border-radius: 4px !important;

                &[aria-expanded="true"] {

                    .select2-selection__arrow b {
                        transform: rotate(180deg);
                    }
                }

                &:focus, &:active {
                    outline: none;
                    box-shadow: none;
                }
            }

            .select2-selection__rendered {
                height: 34px;
                line-height: 34px !important;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                font-family: $font-family-mulish;
                display: flex;
                color: $dark-grey !important;
                padding-left: 12px !important;
                padding-right: 34px;
                text-align: left;
            }

            .select2-selection__placeholder {
                color: $dark-grey !important;
            }

            .select2-selection__arrow {
                width: 14px !important;
                height: 7px !important;
                top: 0;
                right: 12px !important;
                bottom: 0;
                margin: auto;
                background-image: url("../img/select-arrow-modal.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                transform: rotate(0deg);

                b {
                    display: none;
                }
            }
        }
    }

    &-label {
        display: block;
        margin: 0 0 8px;
        font-weight: 700;
        @extend %text-14;
        color: $dark-grey;

        span {
            color: $red-color;
        }
    }

    &-input {
        background-color: $white-color;
        width: 100%;
        padding: 7px 12px;
        border: 1px solid #A9A9A9;
        border-radius: 4px;
        @extend %text-14;
        line-height: 20px;
        color: $brand-primary;
        outline: none;
        box-shadow: none;
        transition: all 0.4s;

        &:focus,
        &:hover {
            border-color: $brand-secondary;
            outline: none;
        }

        &::placeholder {
            color: $dark-grey;
        }
    }
}

.vil-checkbox {
    margin: 0 0 12px;

    &:last-child {
        margin-bottom: 0;
    }

    input {
        display: none;
    }

    label {
        display: block;
        position: relative;
        font-weight: 400;
        font-size: 16px;
        line-height: 1;
        padding-left: 22px;
        cursor: pointer;

        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            border-radius: 50%;
            transition: all 0.4s;
        }

        &:before {
            width: 14px;
            height: 14px;
            border: 1px solid $dark-grey;
            left: 0;
            top: 1px;
        }

        &:after {
            width: 8px;
            height: 8px;
            top: 4px;
            left: 3px;
            opacity: 0;
            background-color: $brand-primary;
        }
    }

    input:checked + label:before {
        border-color: $brand-primary;
    }

    input:checked + label:after {
        opacity: 1;
    }
}

.vil-certificate {
    // margin-bottom: 50px;
}

.vil-accordion {
    margin: 0 0 16px;
    border-radius: 4px;
    background: $secondary-text-color;
    border: 1px solid $secondary-text-color;
    transition: all 0.4s;

    $accordion: &;

    &.active {
        background: $white-color;
        border: 1px solid rgba(80, 145, 205, 0.25);

        &:hover {
            border: 1px solid rgba(80, 145, 205, 0.25);
        }

        #{$accordion}__head {
            &:after {
                transform: rotate(-180deg);
            }
        }
    }

    &:hover {
        border-color: $brand-secondary;
    }

    &.custom_accordion {
        border-bottom: 1px solid $white-grey-color;
        border-left: none;
        border-top: none;
        border-right: none;
        border-radius: 0;
        margin-bottom: 0;

        &.active {
            border-left: none;
            border-top: none;
            border-right: none;
            background: transparent;
        }


        &:hover {
            border-color: $white-grey-color;
        }

        #{$accordion}__head {
            padding: 0 64px 20px 0;
            font-weight: 600;
            font-size: 24px;
            line-height: 30px;

            &::after {
                top: 7px;
                right: 0;
            }
        }

        #{$accordion}__body {
            padding: 0 0 20px;

            &:before {
                display: none;
            }
        }

    }

    &.min_accordion {
        margin: 0 0 24px;

        #{$accordion}__head {
            padding: 13px 88px 13px 24px;
            @media (max-width: 575px) {
                padding-right: 58px;
            }

            &:after {
                top: 20px;
                @media (max-width: 575px) {
                    right: 24px;
                }
            }
        }
    }

    &.skills_accordion {
        #{$accordion}__body {
            padding-top: 0;
        }
    }

    &.info_accordion {
        #{$accordion}__body {
            p {
                @extend %text-16;
            }
        }
    }

    .swiper-programs {
        margin-bottom: 32px;
    }

    &__head {
        padding: 24px 88px 24px 24px;
        @extend %text-18;
        font-family: $font-family-montserrat;
        font-weight: 600;
        position: relative;
        cursor: pointer;
        border-radius: 4px 4px 0 0;

        @media (max-width: 575px) {
            font-size: 16px;
            line-height: 24px
        }

        &:after {
            content: '';
            display: block;
            width: 18px;
            height: 12px;
            position: absolute;
            top: 31px;
            right: 36px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("../img/accordion.svg");
            transition: all 0.4s;
        }
    }

    &__body {
        display: none;
        padding: 24px;
        border-radius: 0 0 4px 4px;
        position: relative;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 24px;
            width: calc(100% - 48px);
            height: 0;
            border-top: 1px solid $white-grey-color;
        }

        h5:not([class]) {
            @extend %text-16;
            font-weight: 600;
            font-family: $font-family-mulish;
            margin: 0 0 16px;
            color: $brand-primary;
        }

        h6:not([class]) {
            @extend %text-16;
            font-weight: 700;
            font-family: $font-family-mulish;
            margin: 0 0 8px;
        }

        ul {
            margin: 0 0 16px;
            padding: 0 0 0 25px;

            & > li {
                @extend %text-16;
                margin: 0 0 8px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        p {
            @extend %text-18;
            margin: 0 0 16px;
            @media (max-width: 575px) {
                font-size: 16px;
                line-height: 24px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        .vil-skills {
            margin-bottom:  24px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.wp-block-column {
    .vil-accordion {
        &__head {
            line-height: 28px;
            padding: 12px 88px 12px 24px;

            &::after {
                top: 20px;
                right: 20px;
            }
        }
    }
}

.vil-skills {
    $skills: &;

    h6 {
        @extend %text-16;
        font-weight: 700;
        font-family: $font-family-mulish;
        margin: 0 0 16px;
    }

    &.skills_secondary {
        background-color: $brand-secondary;
        padding: 20px;
        border-radius: 6px;
        margin-top: -24px;

        h6 {
            color: $white-color;
        }
    }


    &__list {
        flex-wrap: wrap;
        margin-bottom: -8px;
    }

    &__item {
        display: block;
        text-decoration: none;
        transition: all 0.4s;
        text-align: center;
        flex-shrink: 0;
        padding: 8px 14px;
        background: #EDEDED;
        border-radius: 200px;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: $primary-text-color;
        margin: 0 8px 8px 0;

        &:hover {
            text-decoration: none;
            color: $brand-primary;
        }
    }
}


.select-wrap {
    position: relative;

    .select2 {
        width: inherit;
    }

    .select2-dropdown {
        border: 1px solid $brand-primary;
    }

    .select2-container--default {
        font-family: $font-family-montserrat;

        .select2-results__option {
            height: 44px;
            align-items: center;
            display: flex;
            padding-left: 12px;
            font-weight: 500;

            &--selected {
                background-color: $white-color;
            }

            &--highlighted.select2-results__option--selectable {
                background-color: $brand-secondary;


            }
        }

        .select2-selection--single {
            background-color: $white-color;
            border-radius: 4px;
            height: 44px;
            padding: 8px 5px;
            display: flex;
            font-weight: 600;
            border: 1px solid $brand-primary;

            .select2-selection__arrow {
                display: flex;
                align-items: center;
                width: 26px;
                top: 10px;

                b {
                    border: none;
                }

                &:before {
                    content: '';
                    background-image: url("../img/icon-vector.svg");
                    width: 14px;
                    height: 9px;
                    background-size: cover;
                    display: block;
                }
            }
        }

        .select2-selection__rendered {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            font-family: $font-family-montserrat;
            color: $brand-primary !important;
            text-align: left;
        }
    }
}

.select2-dropdown {
    box-shadow: 0 4px 4px 0 rgba($black-color, 0.25);
    border-radius: 6px !important;
    border: 0;

    &--below {
        top: 2px;
    }

    &--above {
        top: -2px;
    }
}

.select2-results {
    &__options {
        &::-webkit-scrollbar {
            width: 3px;
        }

        &::-webkit-scrollbar-track {
            background-color: $white-color;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $brand-secondary;
        }
    }

    &__option {
        font-family: $font-family-montserrat;
        font-weight: 500;
        font-size: 15px;
        color: $brand-primary;
        padding: 9px 15px;

        &--highlighted {
            background-color: $brand-secondary !important;
            border-radius: 2px;
        }
    }
}

.single-content-post {
    margin-bottom: 20px;
}

.webinar-template-default {
    .vil-hero__title {
        color: $white-color;
    }
}

.single-webinar {
    .vil-hero__title {
        color: $white-color!important;
    }

    .vil-vebinar__register {
        form {
            opacity: 0.5;
        }
    }
}

.archive {
    .vil-main-title {
        color: $secondary-text-color !important;
    }

    .vil-featured-content__wrap {
        border-bottom: 1px solid $grey-text-color-light;
        padding-bottom: 38px;
    }

    .vil-block {
        padding: 56px 0 49px;
    }
}

.single-courses,
.single-certificates {
    .vil-main-title {
        color: $white-color !important;
    }
}

.blog {
    .vil-main-title {
        color: $white-color !important;
    }
    .vil-featured-content__wrap {
        padding-bottom: 38px;
        border-bottom: 1px solid $grey-text-color-light;
    }
    .vil-block {
        padding: 56px 0 49px;
    }
}

.page-numbers {
    display: inline-block;
    font-family: $font-family-montserrat;
    font-weight: 500;
    font-size: 15px;
    color: $brand-primary;
    line-height: 40px;
    text-align: center;
    margin: 0 5px;

    &:focus,
    &:active {
        color: $brand-primary;
        text-decoration: none;
    }

    &:not(.prev):not(.next) {
        //padding: 7.75px 14.5px;
        background-color: $white-color;
        border: 1px solid $brand-primary;
        border-radius: 25px;
        transition: .2s;
        width: 40px;
        height: 40px;

        &.current {
            background-color: $brand-primary;
            color: $white-color;
        }

        &:hover {
            background-color: $brand-primary;
            color: $white-color;
            text-decoration: none;
        }
    }

    &.next,
    &.prev {
        &:hover {
            color: $brand-primary;
        }

    //    width: auto;
    //    border: 0;
    }
}

// loader
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: auto;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid $white-color;
    border-color: $white-color transparent $white-color transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.col {
    flex-basis: auto;
}
.media-col {
    @media (max-width: 991px) {
        margin: auto;
    }
}

.vil-payment-options {
    background-color: #f9f9f9;
    padding-bottom: 80px;
    padding-top: 40px;
    .vil-payment__method {
        margin-top: 0;
    }
}

.single-certificates {
    .vil-payment {
        .container {
            padding-top: 56px;
            padding-bottom: 56px;
        }
    }

    .vil-payment__box {
        &.payment_extended {
            margin-top: 0;
        }
    }
}

.vil-skills-accordion {
    background-color: $brand-secondary;
    border-radius: 6px;
    padding: 20px;
    color: $white-color;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;

    &__list {
        padding-top: 16px;
        span {
            background-color: #EDEDED;
            padding: 8px 14px;
            margin-right: 8px;
            margin-bottom: 8px;
            color: $primary-text-color;
            font-size: 14px;
            line-height: 18px;
            border-radius: 20px;
            font-weight: 600;
        }
    }
}

.pt-0 {
    padding-top: 0;
}

.pb-0 {
    padding-top: 0;
}


.vil-spacer {
    margin-block-start: 0 !important;

    + * {
        position: relative;
        z-index: 11;
    }

    &_is-preview {
        background: repeating-linear-gradient(-45deg, #e5e5e5, #e5e5e5 15px, $white-color 0, $white-color 30px);
    }
}

.wp-block-columns {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1260px) {
        max-width: 1200px;
    }
}

.vil-section-default-element {
    color: $brand-primary;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    &.alignfull {
        width: 100%;
    }

    a:not(.vil-btn) {
        color: $brand-primary;
        text-decoration: underline;
    }
}

h1, h2, h3, h4, h5, h6 {
    &.vil-section-default-element {
        font-weight: 600;
        max-width: 1200px;
        margin: 0 auto 20px;
    }
}

p.vil-section-default-element,
li.vil-section-default-element {
    @extend %text-16;
    letter-spacing: 0.02em;
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }
}

p.vil-section-default-element,
table.vil-section-default-element,
ol.vil-section-default-element,
ul.vil-section-default-element,
figure.vil-section-default-element,
#ot-sdk-cookie-policy.vil-section-default-element {
    max-width: 1200px;
}

ul.vil-section-default-element,
ol.vil-section-default-element {
    padding-left: 20px;

    li {
        margin: 0 0 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

figure.vil-section-default-element + div.vil-section-default-element {
    margin: 0 auto !important;
    max-width: 1200px;
}