@import "variables";

.vil-header {
	border-bottom: 1px solid $grey-text-color-light-second;
	position: relative;
	z-index: 999;

	$header: &;

	&.active {
		@media (max-width: 991px) {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			overflow-y: scroll;
			background: $white-color;
			z-index: 9;

			#{$header}__main {
				flex-wrap: wrap;
				padding-bottom: 0;
			}
			#{$header}__nav {
				display: block;
				width: 100%;
				padding-top: 24px;
			}

			#{$header}__menu {
				display: block;
				width: 100%;

				& > li {
					margin: 0;

					& > a {
						display: block;
						width: 100%;
						padding: 24px 0;
						border-bottom: 1px solid $grey-text-color-light-second;

						&.active {
							&:after {
								transform: rotate(-135deg);
							}
						}
					}
				}
			}

			.menu-item {
				> .sub-menu {
					position: relative;
					top: 0;
					left: 0;
					width: 100%;
					max-width: none;
					opacity: 1;
					visibility: visible;
					display: none;
					box-shadow: none;
					padding: 0;

					& > li:first-child {
						padding-top: 24px;
					}
				}
			}
		}
	}


	&__top {
		padding: 16px 0;
		background-color: $brand-primary;

		&-wrap {
			align-items: center;
			justify-content: flex-end;
			@media (max-width: 767px) {
				justify-content: space-between;
			}
		}
	}

	&__dropdown {
		position: relative;
		$drop: &;

		&-head {
			position: relative;
			@extend %text-14;
			font-family: $font-family-montserrat;
			letter-spacing: 0.01em;
			color: $white-color;
			cursor: pointer;
			padding-right: 18px;


			@media (max-width: 575px) {
				font-size: 13px;
				padding-right: 14px;
			}

			@media (max-width: 400px) {
				font-size: 12px;
				letter-spacing: 0;
			}


			&:after {
				content: '';
				display: block;
				width: 6px;
				height: 6px;
				border-bottom: 2px solid $white-color;
				border-right: 2px solid $white-color;
				position: absolute;
				top: 0;
				bottom: 2px;
				right: 0;
				margin: auto;
				transform: rotate(45deg);
				transition: all 0.4s;
			}

			&:hover {
				& + #{$drop}-body {
					opacity: 1;
					visibility: visible;
				}
			}
		}

		&-body {
			list-style: none;
			padding: 12px;
			margin: 0;
			background-color: $white-color;
			position: absolute;
			z-index: 10;
			box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
			border-radius: 4px;
			opacity: 0;
			visibility: hidden;
			transition: all 0.25s;
			left: 0;
			top: 24px;
			width: max-content;

			&:hover {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__contact {
		display: flex;
		align-items: center;
		padding: 8px 12px;
		text-decoration: none;
		transition: all 0.4s;
		font-weight: 600;
		font-size: 15px;
		line-height: 22px;
		color: $dark-grey;

		&-icon {
			display: block;
			width: 14px;
			height: 14px;
			flex-shrink: 0;
			margin-right: 8px;

			svg {
				vertical-align: top;

				path {
					transition: all 0.4s;
				}
			}
		}

		&:hover,
		&:active,
		&:focus {
			color: $brand-secondary;
			text-decoration: none;

			#{$header}__contact-icon {
				svg {
					path {
						fill: $brand-secondary;
					}
				}
			}
		}
	}

	&__link {
		display: block;
		text-decoration: none;
		@extend %text-14;
		font-family: $font-family-montserrat;
		letter-spacing: 0.01em;
		color: $white-color;
		margin-left: 24px;
		transition: all 0.4s;


		@media (max-width: 575px) {
			font-size: 13px;
		}

		@media (max-width: 400px) {
			font-size: 12px;
			margin-left: 12px;
			letter-spacing: 0;
		}


		&.link_check-in {
			font-weight: 600;
			color: $orange-color;
			padding: 8px 16px;
			border: 1px solid $orange-color;
			border-radius: 20px;

			&:hover {
				color: $orange-color;
				text-decoration: underline;
			}

			@media (max-width: 575px) {
				padding: 2px 16px;
			}
		}

		&:hover,
		&:active,
		&:focus {
			text-decoration: none;
			color: $brand-secondary;
		}
	}

	&__main {
		align-items: center;
		background: $white-color;
		@media (max-width: 991px) {
			padding: 31px 0;
		}
		@media (max-width: 575px) {
			padding: 24px 0;
		}
	}

	&__logo {
		display: block;
		width: 240px;
		flex-shrink: 0;
		@media (max-width: 1100px) {
			width: 200px;
		}
		@media (max-width: 575px) {
			width: 220px;
		}
		@media (max-width: 400px) {
			width: 180px;
		}

		img {
			width: 100%;
		}
	}

	&__burger {
		display: none;
		width: 28px;
		height: 28px;
		position: relative;
		border: none;
		padding: 0;
		background: transparent;
		cursor: pointer;
		outline: none;
		border-radius: 0;
		box-shadow: none;
		margin-left: auto;

		&.active {
			span {
				&:nth-child(1) {
					transform: rotate(45deg) translate(7px, 7px);
				}

				&:nth-child(2) {
					opacity: 0;
				}

				&:nth-child(3) {
					transform: rotate(-45deg) translate(7px, -7px);
				}
			}
		}


		@media (max-width: 991px) {
			display: block;
		}

		span {
			display: block;
			width: 100%;
			height: 3px;
			background-color: $dark-grey;
			position: absolute;
			left: 0;
			transition: all 0.4s;
			border-radius: 5px;


			&:nth-child(1) {
				top: 3px;
			}

			&:nth-child(2) {
				top: 13px;
			}

			&:nth-child(3) {
				top: 23px;
			}
		}
	}

	&__nav {
		display: flex;
		align-items: center;
		margin-left: auto;
		flex-grow: 1;
		justify-content: flex-end;
		padding-left: 32px;
		@media (max-width: 991px) {
			display: none;
			padding-left: 0;
		}
	}

	&__search {
		position: relative;
		width: 273px;
		transition: all 0.4s;
		margin-right: 100px;
		$search: &;

		@media (max-width: 768px) {
			display: none;
		}

		&.active {
			@media (min-width: 992px) {
				width: 400px;
				#{$search}-close {
					opacity: 1;
				}

				input {
					padding-right: 30px;
				}
			}
		}

		input {
			width: 100%;
			padding: 11px 16px 11px 38px;
			border: none;
			border-radius: 200px;
			background-color: $dark-blue;
			transition: all 0.4s;
			font-weight: 500;
			font-size: 15px;
			line-height: 18px;
			font-family: $font-family-montserrat;
			color: $white-color;
			outline: none;
			box-shadow: none;
		}

		&-btn {
			width: 15px;
			height: 15px;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 15px;
			margin: auto;
			background-color: transparent;
			cursor: pointer;
			line-height: 0;
			@media (max-width: 991px) {
				left: 24px;
			}

			svg {
				vertical-align: top;
			}
		}

		&-close {
			width: 12px;
			height: 12px;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 12px;
			margin: auto;
			background-color: transparent;
			transition: all 0.4s;
			opacity: 0;
			cursor: pointer;
			@media (max-width: 991px) {
				display: none;
			}

			svg {
				vertical-align: top;
			}
		}

		&_mob {
			display: none;
			margin: 0 -24px;
			width: calc(100% + 48px);
			background-color: $secondary-text-color;
			@media (max-width: 768px) {
				display: block !important;
			}

			input {
				padding: 16px 16px 16px 46px;
				background-color: transparent;
				border-radius: 0;
				color: $dark-grey-2;

				&::placeholder {
					opacity: 1;
					color: $dark-grey-2;
				}
			}
		}
	}

	&__menu {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		align-items: center;

		& > li {
			margin-right: 48px;
			position: relative;
			@media (min-width: 992px) {
				padding: 31px 0;
			}

			@media (max-width: 1449px) {
				margin-right: 35px;
			}

			@media (max-width: 1260px) {
				margin-right: 20px;
			}

			&:last-child {
				margin-right: 0;


				.sub-menu {
					left: auto;
					right: 0;
				}
			}

			&.menu-item__yellow {
				@media (max-width: 991px) {
					display: none;
				}

				a {
					padding: 8px 16px;
					background-color: $orange-color;
					color: $white-color;
					border-radius: 20px;
					display: inline-flex;
					text-align: center;

					&:hover {
						text-decoration: underline;
						color: $white-color;
					}
				}
			}

			&.menu-item-has-children {

				& > a {
					position: relative;
					padding-right: 18px;
					display: inline-flex;
					text-align: center;
					@media (max-width: 1100px) {
						padding-right: 14px;
					}

					&:after {
						content: '';
						display: block;
						width: 6px;
						height: 6px;
						border-bottom: 2px solid $dark-grey;
						border-right: 2px solid $dark-grey;
						position: absolute;
						top: 0;
						bottom: 0;
						right: 0;
						margin: auto;
						transform: rotate(45deg);
						transition: all 0.4s;
					}
				}

				&:hover {
					& > a {
						color: $brand-secondary;

						&:after {
							border-color: $brand-secondary;
						}
					}

					.sub-menu {
						opacity: 1;
						visibility: visible;
						pointer-events: auto;
					}
				}
			}

			& > a {
				font-weight: 600;
				font-size: 15px;
				line-height: 18px;
				letter-spacing: 0.01em;
				font-family: $font-family-montserrat;
				text-decoration: none;
				transition: all 0.25s;
				color: $dark-grey;
				@media (max-width: 1100px) {
					letter-spacing: 0;
				}

				&:hover {
					color: $brand-secondary;
					text-decoration: none;
				}
			}
		}

		> .menu-item {
			> .sub-menu {
				list-style: none;
				padding: 24px;
				margin: 0;
				background-color: $white-color;
				position: absolute;
				z-index: 10;
				box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
				border-radius: 4px;
				opacity: 0;
				visibility: hidden;
				transition: all 0.25s;
				left: -24px;
				top: calc(100% - 16px);
				width: max-content;
				max-width: 413px;
				pointer-events: none;

				&:before {
					content: '';
					display: block;
					height: 12px;
					width: 100%;
					position: absolute;
					top: -12px;
					left: 0;
				}

				&:hover {
					opacity: 1;
					visibility: visible;
				}

				> li {
					&:first-child {
						> a {
							color: $brand-secondary
						}
					}
				}

				li {
					margin: 0 0 16px;

					&:last-child {
						margin-bottom: 0;
					}

					a {
						display: block;
						text-decoration: none;
						font-family: $font-family-montserrat;
						font-weight: 600;
						font-size: 15px;
						line-height: 22px;
						color: $dark-grey;
						transition: all 0.25s;
						cursor: pointer;

						&:hover,
						&:active {
							color: $brand-secondary;
							text-decoration: none;
						}
					}
				}

				.sub-menu {
					list-style: none;
					margin: 16px 0 0 0;
					display: flex;
					justify-content: space-between;
					flex-direction: row;
					flex-wrap: wrap;
					gap: 0 20px;

					li {
						flex: 0 0 calc(50% - 10px);

						&:nth-last-child(2) {
							margin-bottom: 0;

							@media(max-width: 992px) {
								margin-bottom: 16px;
							}
						}

						&:first-child {
							@media(max-width: 992px) {
								padding-top: 0;
							}
						}

						@media(max-width: 992px) {
							flex: 0 0 100%;
						}
					}
				}
			}

			@media(min-width: 991px) {
				&.item-separator {
					> .sub-menu {
						display: flex;
						justify-content: space-between;
						flex-direction: row;
						flex-wrap: wrap;
						gap: 0 40px;

						> li {
							flex: 0 0 calc(50% - 20px);
							position: relative;

							> a {
								color: $brand-secondary
							}

							> .sub-menu {
								
								li {
									flex: 0 0 100%;

									&:nth-last-child(2) {
										margin-bottom: 16px;
									}
								}
							}
						}
						
						&:before {
							content: '';
							background-color: $grey-text-color-light-second;
							height: calc( 100% - 48px );
							width: 1px;
							left: 50%;
							top: 24px;
						}
					}
				}

				&:nth-last-child(2) {
					> .sub-menu {
						left: 50%;
						transform: translateX(-50%);
					}
				}

				&:last-child {
					> .sub-menu {
						left: auto;
						right: -24px;
					}
				}
			}
		}
	}

	&__mobile-btns {
		display: flex;
		flex-wrap: wrap;
		gap: 15px;
		margin-top: 20px;
		@media (min-width: 992px) {
			display: none;
		}
	}
}
