@use "sass:math";

@import "mixins/functions";
@import "mixins/mixins";

$custom-spacers: (-20, -15, -10, 0, 5, 10, 12, 15, 16, 20, 24, 25, 30, 35, 40, 50, 60, 65, 70, 80, 90, 100, 110, 120, 130, 140, 150);

// Base custom typography style set
$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-mulish: 'Mulish', sans-serif;

// Base typography style
$base-font-size: 16px; // Sets the base font size
$base-line-height: 1.5; // Sets the base line height
$base-font-family: $font-family-mulish; // Sets the base font family

// Colors
$brand-primary: #00205C;
$brand-primary-second: #003366;
$brand-secondary: #5091CD;
$brand-blue: #001768;
$brand-secondary-hover: #52A5E3;
$white-color: #ffffff;
$black-color: #000000;
$primary-text-color: #262626;
$grey-text-color: #4D4D4D;
$grey-text-color-light: #D3D3D3;
$light-color-background: #F8F8F8;
$dark-grey: #555555;
$grey-text-color-light-second: #F2F2F2;
$orange-color: #F89028;
$red-color: #FF0000;
$secondary-text-color: #FAFAFA;
$white-grey-color: #DADADA;
$border-color: #D9D9D9;
$border-color-second: #D6D6D6;
$light-gray-color:  #F7F7F7;
$light-gray-color2:  #F6F6F6;
$border-light-gray: #E6E7EB;
$green-color: #C1CD23;
$green-color2: #00928F;
$dark-blue: #43496F;
$dark-grey-2: #727272;

$background-primary: rgba(80, 145, 205, 0.2);
$shadow: 0px 0px 15px rgba($black-color, 0.05);
$white-gradient: linear-gradient(180deg, $white-color 0%, #F5F5F5 100%);